NodeRED/NODEREDDEFINITIVO.json
[
    {
        "id": "356bd59b2af96803",
        "type": "tab",
        "label": "Proyecto IoT",
        "disabled": false,
        "info": ""
    },
    {
        "id": "2acbef832f06e01e",
        "type": "function",
        "z": "356bd59b2af96803",
        "name": "actualiza temperatura en Alexa",
        "func": "return { \"payload\": { \"state\": { \"temperature\": msg.payload } }, \"acknowledge\" : true };\n\n// Hará falta: \"command\": \"AdjustTargetTemperature\"??\n\n//Opción 2\n//return { \"payload\": msg.payload, \"temperatureScale\": \"CELSIUS\", \"acknowledge\": true };",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1010,
        "y": 760,
        "wires": [
            [
                "035c4dbd60238de3",
                "6d0b48e668dc8eb4",
                "0ddf83a021346127"
            ]
        ]
    },
    {
        "id": "f459df7c35440537",
        "type": "mqtt in",
        "z": "356bd59b2af96803",
        "name": "",
        "topic": "II7/ESP833252/Alexa",
        "qos": "2",
        "datatype": "auto",
        "broker": "b452cd9032236d16",
        "nl": false,
        "rap": false,
        "inputs": 0,
        "x": 140,
        "y": 700,
        "wires": [
            [
                "09278e6c7893c02e"
            ]
        ]
    },
    {
        "id": "09278e6c7893c02e",
        "type": "json",
        "z": "356bd59b2af96803",
        "name": "",
        "property": "payload",
        "action": "",
        "pretty": false,
        "x": 470,
        "y": 700,
        "wires": [
            [
                "54921cefb3bbd354",
                "3ce1bb020b946116",
                "0c33131d953c8af9",
                "87a6d632612be31a",
                "502b2a29d2bbe350"
            ]
        ]
    },
    {
        "id": "3ce1bb020b946116",
        "type": "function",
        "z": "356bd59b2af96803",
        "name": "extrae temp",
        "func": "var temp = msg.payload.Temperatura;\nmsg.payload= temp;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 750,
        "y": 760,
        "wires": [
            [
                "2acbef832f06e01e"
            ]
        ]
    },
    {
        "id": "035c4dbd60238de3",
        "type": "alexa-smart-home-v3-state",
        "z": "356bd59b2af96803",
        "conf": "6237abf040ac4b03",
        "device": "57964",
        "name": "Sensor de Temperatura",
        "x": 1310,
        "y": 760,
        "wires": []
    },
    {
        "id": "54921cefb3bbd354",
        "type": "debug",
        "z": "356bd59b2af96803",
        "name": "Alexa desde MQTT",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 770,
        "y": 700,
        "wires": []
    },
    {
        "id": "d9db53bd2d25df72",
        "type": "mqtt in",
        "z": "356bd59b2af96803",
        "name": "",
        "topic": "II7/ESP833252/Spotify",
        "qos": "2",
        "datatype": "auto",
        "broker": "b452cd9032236d16",
        "nl": false,
        "rap": false,
        "inputs": 0,
        "x": 140,
        "y": 580,
        "wires": [
            [
                "a43135091aeadf15"
            ]
        ]
    },
    {
        "id": "7abee2f5c864e23f",
        "type": "debug",
        "z": "356bd59b2af96803",
        "name": "Spotify desde MQTT",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 580,
        "y": 580,
        "wires": []
    },
    {
        "id": "d0fdb05b2e21cec2",
        "type": "function",
        "z": "356bd59b2af96803",
        "name": "extrae Spoti",
        "func": "if (msg.payload.Play == \"activado\"){\n    msg.payload = \"Play\";\n} else if (msg.payload.Pause == \"activado\") {\n    msg.payload = \"Pause\";\n} else if (msg.payload.Skip == \"activado\") {\n    msg.payload =\"Previous\";\n} else if (msg.payload.Next == \"activado\") {\n    msg.payload =\"Next\";\n} else{\n    msg.payload = \"ERROR\";\n}\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 570,
        "y": 520,
        "wires": [
            [
                "1e07995dc17b19dd",
                "fecb5684586e900a"
            ]
        ]
    },
    {
        "id": "a43135091aeadf15",
        "type": "json",
        "z": "356bd59b2af96803",
        "name": "",
        "property": "payload",
        "action": "obj",
        "pretty": false,
        "x": 330,
        "y": 580,
        "wires": [
            [
                "7abee2f5c864e23f",
                "d0fdb05b2e21cec2"
            ]
        ]
    },
    {
        "id": "2eacf7a5e422eb0b",
        "type": "alexa-smart-home-v3-state",
        "z": "356bd59b2af96803",
        "conf": "6237abf040ac4b03",
        "device": "58031",
        "name": "Altavoz",
        "x": 1270,
        "y": 380,
        "wires": []
    },
    {
        "id": "490a15114030c6c6",
        "type": "alexa-smart-home-v3",
        "z": "356bd59b2af96803",
        "conf": "6237abf040ac4b03",
        "device": "58031",
        "acknowledge": false,
        "name": "Altavoz",
        "topic": "",
        "x": 90,
        "y": 460,
        "wires": [
            [
                "1f8f3cf0a41b20a4",
                "49d911dd08498b66"
            ]
        ]
    },
    {
        "id": "1f8f3cf0a41b20a4",
        "type": "debug",
        "z": "356bd59b2af96803",
        "name": "Altavoz desde Alexa",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "command",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 440,
        "y": 460,
        "wires": []
    },
    {
        "id": "520039bfc514870a",
        "type": "alexa-smart-home-v3",
        "z": "356bd59b2af96803",
        "conf": "6237abf040ac4b03",
        "device": "57964",
        "acknowledge": false,
        "name": "Sensor de Temperatura",
        "topic": "",
        "x": 140,
        "y": 760,
        "wires": [
            [
                "e1a96e68bf5f7dc4",
                "3ce1bb020b946116"
            ]
        ]
    },
    {
        "id": "e1a96e68bf5f7dc4",
        "type": "debug",
        "z": "356bd59b2af96803",
        "name": "Temperatura desde Alexa",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 390,
        "y": 800,
        "wires": []
    },
    {
        "id": "0c33131d953c8af9",
        "type": "function",
        "z": "356bd59b2af96803",
        "name": "extrae brillo",
        "func": "var brillo = msg.payload.Lampara;\nmsg.payload = Number(brillo);\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 750,
        "y": 920,
        "wires": [
            [
                "284cca5275f7b069"
            ]
        ]
    },
    {
        "id": "284cca5275f7b069",
        "type": "function",
        "z": "356bd59b2af96803",
        "name": "actualiza brillo en Alexa",
        "func": "return { \"payload\": { \"state\": { \"brightness\": msg.payload }}, \"acknowledge\": true};\n// \"command\": \"AdjustBrightness\",",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 990,
        "y": 920,
        "wires": [
            [
                "b63cda13ca69185e",
                "b6922e5478abb52d",
                "a1aa0b20cb35e49c",
                "bb09b1ca65b15d08",
                "b068c2521f43cf15"
            ]
        ]
    },
    {
        "id": "1e07995dc17b19dd",
        "type": "function",
        "z": "356bd59b2af96803",
        "name": "actualiza altavoz en Alexa",
        "func": "\nreturn { \"payload\": { \"state\": { \"playback\": msg.payload } }, \"acknowledge\": true };\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 790,
        "y": 520,
        "wires": [
            [
                "2eacf7a5e422eb0b",
                "ee5d69e148190c80",
                "c386580412f84bae",
                "f8858567f5833ef9",
                "3db7df1aac1a5225"
            ]
        ]
    },
    {
        "id": "6394324469a86226",
        "type": "alexa-smart-home-v3",
        "z": "356bd59b2af96803",
        "conf": "6237abf040ac4b03",
        "device": "57965",
        "acknowledge": false,
        "name": "Termostato",
        "topic": "",
        "x": 100,
        "y": 1200,
        "wires": [
            [
                "87a6d632612be31a",
                "3c32ab68a18a03d9"
            ]
        ]
    },
    {
        "id": "87a6d632612be31a",
        "type": "function",
        "z": "356bd59b2af96803",
        "name": "extrae termo",
        "func": "var termo = msg.payload.Termostato;\nmsg.payload = termo;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 750,
        "y": 1200,
        "wires": [
            [
                "b582daa76e9b088c"
            ]
        ]
    },
    {
        "id": "3c32ab68a18a03d9",
        "type": "debug",
        "z": "356bd59b2af96803",
        "name": "Termostato desde Alexa",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 390,
        "y": 1160,
        "wires": []
    },
    {
        "id": "8bd9f1ebb1a78cfe",
        "type": "alexa-smart-home-v3-state",
        "z": "356bd59b2af96803",
        "conf": "6237abf040ac4b03",
        "device": "57965",
        "name": "Termostato",
        "x": 1270,
        "y": 1200,
        "wires": []
    },
    {
        "id": "b7fb2347d57860e5",
        "type": "alexa-smart-home-v3",
        "z": "356bd59b2af96803",
        "conf": "6237abf040ac4b03",
        "device": "57963",
        "acknowledge": false,
        "name": "Lampara",
        "topic": "",
        "x": 100,
        "y": 880,
        "wires": [
            [
                "ef9a56d6e4541417",
                "8f4be9c4cf53af3b"
            ]
        ]
    },
    {
        "id": "b63cda13ca69185e",
        "type": "alexa-smart-home-v3-state",
        "z": "356bd59b2af96803",
        "conf": "6237abf040ac4b03",
        "device": "57963",
        "name": "Lampara",
        "x": 1260,
        "y": 920,
        "wires": []
    },
    {
        "id": "ef9a56d6e4541417",
        "type": "debug",
        "z": "356bd59b2af96803",
        "name": "Lámpara desde Alexa",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 380,
        "y": 840,
        "wires": []
    },
    {
        "id": "b6922e5478abb52d",
        "type": "debug",
        "z": "356bd59b2af96803",
        "name": "Lámpara Command",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1300,
        "y": 880,
        "wires": []
    },
    {
        "id": "ee5d69e148190c80",
        "type": "debug",
        "z": "356bd59b2af96803",
        "name": "Spotify Command",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1290,
        "y": 520,
        "wires": []
    },
    {
        "id": "6d0b48e668dc8eb4",
        "type": "debug",
        "z": "356bd59b2af96803",
        "name": "Sensor Temperatura Command",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1330,
        "y": 720,
        "wires": []
    },
    {
        "id": "6cbb36ea5755ffde",
        "type": "ui_gauge",
        "z": "356bd59b2af96803",
        "name": "",
        "group": "d015aa69f1b0dcff",
        "order": 1,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Termostato",
        "label": "units",
        "format": "{{msg.payload.state.thermostatSetPoint}}",
        "min": 0,
        "max": "40",
        "colors": [
            "#0000ff",
            "#0080ff",
            "#c60000"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 1270,
        "y": 1160,
        "wires": []
    },
    {
        "id": "a1aa0b20cb35e49c",
        "type": "ui_gauge",
        "z": "356bd59b2af96803",
        "name": "",
        "group": "a627428919155efa",
        "order": 1,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Intensidad Lámpara",
        "label": "%",
        "format": "{{msg.payload.state.brightness}} %",
        "min": 0,
        "max": "100",
        "colors": [
            "#737300",
            "#dfdf00",
            "#ffff00"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 1300,
        "y": 980,
        "wires": []
    },
    {
        "id": "c386580412f84bae",
        "type": "ui_text",
        "z": "356bd59b2af96803",
        "group": "6b3b546d93656e4a",
        "order": 1,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Acción Altavoz",
        "format": "{{msg.payload.state.playback}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 1280,
        "y": 480,
        "wires": []
    },
    {
        "id": "fecb5684586e900a",
        "type": "debug",
        "z": "356bd59b2af96803",
        "name": "Spotify",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 730,
        "y": 480,
        "wires": []
    },
    {
        "id": "141a24604a8b8e17",
        "type": "ui_led",
        "z": "356bd59b2af96803",
        "order": 2,
        "group": "a627428919155efa",
        "width": "6",
        "height": "1",
        "label": "Lámpara",
        "labelPlacement": "left",
        "labelAlignment": "left",
        "colorForValue": [
            {
                "color": "#626200",
                "value": "0",
                "valueType": "num"
            },
            {
                "color": "#959500",
                "value": "25",
                "valueType": "num"
            },
            {
                "color": "#cccc00",
                "value": "50",
                "valueType": "num"
            },
            {
                "color": "#f0f000",
                "value": "75",
                "valueType": "num"
            },
            {
                "color": "#ffff00",
                "value": "100",
                "valueType": "num"
            }
        ],
        "allowColorForValueInMessage": true,
        "shape": "circle",
        "showGlow": true,
        "name": "Lámpara",
        "x": 1560,
        "y": 1020,
        "wires": []
    },
    {
        "id": "6b689b2c7be42131",
        "type": "ui_widget_thermometer",
        "z": "356bd59b2af96803",
        "group": "10d8358cacd56dec",
        "order": 2,
        "width": 0,
        "height": 0,
        "name": "Sensor de temperatura",
        "title": "Sensor de temperatura",
        "numColor": 3,
        "colorTop": "#2196f3",
        "colorMiddle": "#8bc34a",
        "colorBottom": "#f44336",
        "unit": "°C",
        "scale": "normal",
        "minTemp": 0,
        "maxTemp": "50",
        "minTempMoreThanMaxTemp": "1",
        "numberOfDecimals": "0",
        "showPercentage": "0",
        "x": 1600,
        "y": 820,
        "wires": []
    },
    {
        "id": "0ddf83a021346127",
        "type": "function",
        "z": "356bd59b2af96803",
        "name": "convertir a payload",
        "func": "msg.payload.temp = msg.payload.state.temperature;\nmsg.payload.date = new Date();\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1290,
        "y": 820,
        "wires": [
            [
                "6b689b2c7be42131",
                "90c1390c5da55e0f"
            ]
        ]
    },
    {
        "id": "bb09b1ca65b15d08",
        "type": "function",
        "z": "356bd59b2af96803",
        "name": "porcentaje",
        "func": "if (msg.payload.state.brightness <= 20)\n{\n    msg.payload = 0;\n} else if (msg.payload.state.brightness <= 40) \n{\n    msg.payload = 25;\n} else if (msg.payload.state.brightness <= 65) \n{\n    msg.payload = 50;\n} else if (msg.payload.state.brightness <= 90) \n{\n    msg.payload = 75;\n} else\n{\n    msg.payload = 100;\n}\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1270,
        "y": 1020,
        "wires": [
            [
                "141a24604a8b8e17"
            ]
        ]
    },
    {
        "id": "14c04fc4a815ce4d",
        "type": "ui_led",
        "z": "356bd59b2af96803",
        "order": 7,
        "group": "6b3b546d93656e4a",
        "width": "0",
        "height": "0",
        "label": "Estado Altavoz",
        "labelPlacement": "left",
        "labelAlignment": "left",
        "colorForValue": [
            {
                "color": "#008000",
                "value": "ON",
                "valueType": "str"
            },
            {
                "color": "#ff0000",
                "value": "OFF",
                "valueType": "str"
            }
        ],
        "allowColorForValueInMessage": true,
        "shape": "circle",
        "showGlow": true,
        "name": "Estado Altavoz",
        "x": 1540,
        "y": 340,
        "wires": []
    },
    {
        "id": "0c67121f655f6e11",
        "type": "ui_slider",
        "z": "356bd59b2af96803",
        "name": "",
        "label": "Intensidad (%)",
        "tooltip": "",
        "group": "a627428919155efa",
        "order": 0,
        "width": 0,
        "height": 0,
        "passthru": true,
        "outs": "all",
        "topic": "",
        "topicType": "str",
        "min": 0,
        "max": "100",
        "step": 1,
        "className": "",
        "x": 740,
        "y": 980,
        "wires": [
            [
                "284cca5275f7b069"
            ]
        ]
    },
    {
        "id": "d6a5d4063ae725f0",
        "type": "ui_numeric",
        "z": "356bd59b2af96803",
        "name": "",
        "label": "Termostato",
        "tooltip": "",
        "group": "d015aa69f1b0dcff",
        "order": 6,
        "width": 0,
        "height": 0,
        "wrap": false,
        "passthru": true,
        "topic": "topic",
        "topicType": "msg",
        "format": "{{value}}",
        "min": 0,
        "max": "45",
        "step": 1,
        "className": "",
        "x": 750,
        "y": 1260,
        "wires": [
            [
                "b582daa76e9b088c"
            ]
        ]
    },
    {
        "id": "098e405315a992e8",
        "type": "function",
        "z": "356bd59b2af96803",
        "name": "actualiza power en Alexa",
        "func": "return { \"payload\": { \"state\": { \"power\": msg.payload } }, \"acknowledge\" : true };\n\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 790,
        "y": 260,
        "wires": [
            [
                "2eacf7a5e422eb0b",
                "cc7c3e0878577d80",
                "05fcd1c6faff2a7f",
                "519d9b497a50f437",
                "4c9c96452a32dcc9"
            ]
        ]
    },
    {
        "id": "5cb967ab591c97c1",
        "type": "http in",
        "z": "356bd59b2af96803",
        "name": "",
        "url": "/power",
        "method": "post",
        "upload": false,
        "swaggerDoc": "",
        "x": 170,
        "y": 320,
        "wires": [
            [
                "7aba7b18d58192ee",
                "b87cd74479c68214",
                "ed5390f385e5a618"
            ]
        ]
    },
    {
        "id": "7aba7b18d58192ee",
        "type": "debug",
        "z": "356bd59b2af96803",
        "name": "Estado Altavoz",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 420,
        "y": 320,
        "wires": []
    },
    {
        "id": "ed5390f385e5a618",
        "type": "function",
        "z": "356bd59b2af96803",
        "name": "Apagar o Encender Cubo",
        "func": "msg.payload = msg.payload.power;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 450,
        "y": 260,
        "wires": [
            [
                "098e405315a992e8"
            ]
        ]
    },
    {
        "id": "7faa38fc9b2a91b5",
        "type": "debug",
        "z": "356bd59b2af96803",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "x": 490,
        "y": 1320,
        "wires": []
    },
    {
        "id": "772d766502ec673e",
        "type": "function",
        "z": "356bd59b2af96803",
        "name": "mensaje bienvenida",
        "func": "if(msg.payload.content.substring(0,1)!=\"/\")\n{\n    msg.payload.content =\"Hola! Soy el bot del Grupo 7 de Informática Industrial. Puedo responderte a estos comandos:\\n/start\\n/Alexa\\n/Spotify\";\n return msg;\n}",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 520,
        "y": 1360,
        "wires": [
            [
                "bd151d29777ab2ed"
            ]
        ]
    },
    {
        "id": "7cf70a62bc0d6357",
        "type": "telegram receiver",
        "z": "356bd59b2af96803",
        "name": "",
        "bot": "a7b36fc8427261eb",
        "saveDataDir": "",
        "filterCommands": true,
        "x": 130,
        "y": 1320,
        "wires": [
            [
                "7faa38fc9b2a91b5",
                "772d766502ec673e"
            ],
            []
        ]
    },
    {
        "id": "bd151d29777ab2ed",
        "type": "telegram sender",
        "z": "356bd59b2af96803",
        "name": "",
        "bot": "a7b36fc8427261eb",
        "haserroroutput": false,
        "outputs": 1,
        "x": 1850,
        "y": 1340,
        "wires": [
            []
        ]
    },
    {
        "id": "bf6c0b8643eaf241",
        "type": "telegram command",
        "z": "356bd59b2af96803",
        "name": "",
        "command": "/start",
        "description": "",
        "registercommand": false,
        "language": "",
        "scope": "default",
        "bot": "a7b36fc8427261eb",
        "strict": false,
        "hasresponse": true,
        "useregex": false,
        "removeregexcommand": false,
        "outputs": 2,
        "x": 90,
        "y": 1380,
        "wires": [
            [
                "772d766502ec673e"
            ],
            []
        ]
    },
    {
        "id": "f6e2d8b1a3f294a3",
        "type": "telegram command",
        "z": "356bd59b2af96803",
        "name": "",
        "command": "/Spotify",
        "description": "",
        "registercommand": false,
        "language": "",
        "scope": "default",
        "bot": "a7b36fc8427261eb",
        "strict": false,
        "hasresponse": true,
        "useregex": false,
        "removeregexcommand": false,
        "outputs": 2,
        "x": 90,
        "y": 1540,
        "wires": [
            [
                "8853355e11a0780e"
            ],
            []
        ]
    },
    {
        "id": "90c1390c5da55e0f",
        "type": "mongodb out",
        "z": "356bd59b2af96803",
        "mongodb": "43bb8dbd8cf8d231",
        "name": "",
        "collection": "Temperatura",
        "payonly": true,
        "upsert": false,
        "multi": false,
        "operation": "store",
        "x": 1630,
        "y": 860,
        "wires": []
    },
    {
        "id": "d2ba585545897f62",
        "type": "telegram command",
        "z": "356bd59b2af96803",
        "name": "",
        "command": "/Alexa",
        "description": "",
        "registercommand": false,
        "language": "",
        "scope": "default",
        "bot": "a7b36fc8427261eb",
        "strict": false,
        "hasresponse": true,
        "useregex": false,
        "removeregexcommand": false,
        "outputs": 2,
        "x": 90,
        "y": 1600,
        "wires": [
            [
                "e6bf9d3cfb57191c"
            ],
            []
        ]
    },
    {
        "id": "e0cd374d61968c7f",
        "type": "mongodb out",
        "z": "356bd59b2af96803",
        "mongodb": "43bb8dbd8cf8d231",
        "name": "",
        "collection": "Lampara",
        "payonly": true,
        "upsert": false,
        "multi": false,
        "operation": "store",
        "x": 1620,
        "y": 1060,
        "wires": []
    },
    {
        "id": "0e059b86cd483ecb",
        "type": "mongodb out",
        "z": "356bd59b2af96803",
        "mongodb": "43bb8dbd8cf8d231",
        "name": "",
        "collection": "Termostato",
        "payonly": true,
        "upsert": false,
        "multi": false,
        "operation": "store",
        "x": 1630,
        "y": 1260,
        "wires": []
    },
    {
        "id": "b150eaf27e694668",
        "type": "debug",
        "z": "356bd59b2af96803",
        "name": "Termostato Command",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1300,
        "y": 1320,
        "wires": []
    },
    {
        "id": "19bc22ef0f08c4d8",
        "type": "mongodb out",
        "z": "356bd59b2af96803",
        "mongodb": "43bb8dbd8cf8d231",
        "name": "",
        "collection": "Power",
        "payonly": true,
        "upsert": false,
        "multi": false,
        "operation": "store",
        "x": 1610,
        "y": 260,
        "wires": []
    },
    {
        "id": "b87cd74479c68214",
        "type": "function",
        "z": "356bd59b2af96803",
        "name": "respuesta",
        "func": "var parametros = msg.req.query;\n\nif (msg.payload.hasOwnProperty(\"power\")) {\n    msg.payload.date = new Date();\n    msg.statusCode = 201;\n    return [msg, msg];\n}\nelse {\n    msg.statusCode = 400; // error\n    return [msg, null];\n}",
        "outputs": 2,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 400,
        "y": 380,
        "wires": [
            [
                "d0fe1d98c22960f5"
            ],
            [
                "602a49ad04c842d9"
            ]
        ]
    },
    {
        "id": "d0fe1d98c22960f5",
        "type": "http response",
        "z": "356bd59b2af96803",
        "name": "",
        "statusCode": "",
        "headers": {
            "content-type": "application/json"
        },
        "x": 630,
        "y": 360,
        "wires": []
    },
    {
        "id": "602a49ad04c842d9",
        "type": "debug",
        "z": "356bd59b2af96803",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 650,
        "y": 400,
        "wires": []
    },
    {
        "id": "cc7c3e0878577d80",
        "type": "ui_text",
        "z": "356bd59b2af96803",
        "group": "6b3b546d93656e4a",
        "order": 1,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Power Altavoz",
        "format": "{{msg.payload.state.power}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 1280,
        "y": 300,
        "wires": []
    },
    {
        "id": "05fcd1c6faff2a7f",
        "type": "debug",
        "z": "356bd59b2af96803",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 1270,
        "y": 200,
        "wires": []
    },
    {
        "id": "519d9b497a50f437",
        "type": "function",
        "z": "356bd59b2af96803",
        "name": "conv",
        "func": "msg.payload.power=msg.payload.state.power;\nmsg.payload.date=new Date();\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1250,
        "y": 260,
        "wires": [
            [
                "19bc22ef0f08c4d8",
                "e101a7a005b5cf77"
            ]
        ]
    },
    {
        "id": "64c9a31a3be12394",
        "type": "function",
        "z": "356bd59b2af96803",
        "name": "convertir a payload",
        "func": "msg.payload.thermo = msg.payload.state.thermostatSetPoint;\nmsg.payload.date = new Date();\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1290,
        "y": 1260,
        "wires": [
            [
                "0e059b86cd483ecb"
            ]
        ]
    },
    {
        "id": "b068c2521f43cf15",
        "type": "function",
        "z": "356bd59b2af96803",
        "name": "convertir a payload",
        "func": "msg.payload.lamp = msg.payload.state.brightness;\nmsg.payload.date = new Date();\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1290,
        "y": 1060,
        "wires": [
            [
                "e0cd374d61968c7f"
            ]
        ]
    },
    {
        "id": "1162a818f748caf4",
        "type": "function",
        "z": "356bd59b2af96803",
        "name": "Datos Altavoz",
        "func": "var estado;\nvar accion;\n\nif (msg.payload[0].power==\"ON\"){\n    estado=\"encendido\";\n} else if (msg.payload[0].power == \"OFF\"){\n    estado = \"apagado\";\n}\n\nif (msg.action==\"Play\"){\n    accion = \"reproduciendo\";\n} else if (msg.action == \"Pause\"){\n    accion = \"pausado\";\n} else if (msg.action == \"Previous\") {\n    accion = \"pasando a la canción anterior\";\n} else if (msg.action == \"Next\") {\n    accion = \"pasando a la siguiente canción\";\n} else {\n    accion = \"ERROR\";\n}\nmsg.payload = msg.mensaje;\n//msg.payload.chatId = 6440492345;\n//msg.payload.type = \"message\";\nmsg.payload.content = \"El altavoz está \" + estado + \" y actualmente está \" + accion + \".\\n\";\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1220,
        "y": 1540,
        "wires": [
            [
                "bd151d29777ab2ed",
                "66ab257dc46c6cd2"
            ]
        ]
    },
    {
        "id": "d61aef6e883a284b",
        "type": "mongodb in",
        "z": "356bd59b2af96803",
        "mongodb": "43bb8dbd8cf8d231",
        "name": "",
        "collection": "Action",
        "operation": "find",
        "x": 530,
        "y": 1540,
        "wires": [
            [
                "40e2659b482234c0",
                "0ce8fe901ba47353"
            ]
        ]
    },
    {
        "id": "40e2659b482234c0",
        "type": "debug",
        "z": "356bd59b2af96803",
        "name": "Colleccion Altavoz",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 810,
        "y": 1480,
        "wires": []
    },
    {
        "id": "66ab257dc46c6cd2",
        "type": "debug",
        "z": "356bd59b2af96803",
        "name": "Telegram Altavoz",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1450,
        "y": 1540,
        "wires": []
    },
    {
        "id": "8853355e11a0780e",
        "type": "function",
        "z": "356bd59b2af96803",
        "name": "ultimo registro",
        "func": "msg.mensaje = msg.payload;\nmsg.limit = 1;\nmsg.sort = { \"date\": -1 };\nmsg.payload = {};\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 280,
        "y": 1540,
        "wires": [
            [
                "d61aef6e883a284b"
            ]
        ]
    },
    {
        "id": "e101a7a005b5cf77",
        "type": "debug",
        "z": "356bd59b2af96803",
        "name": "debug 32",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 1560,
        "y": 220,
        "wires": []
    },
    {
        "id": "d1b7a1223dcc967b",
        "type": "mongodb out",
        "z": "356bd59b2af96803",
        "mongodb": "43bb8dbd8cf8d231",
        "name": "",
        "collection": "Action",
        "payonly": true,
        "upsert": false,
        "multi": false,
        "operation": "store",
        "x": 1610,
        "y": 420,
        "wires": []
    },
    {
        "id": "f8858567f5833ef9",
        "type": "function",
        "z": "356bd59b2af96803",
        "name": "convertir a payload",
        "func": "msg.payload.action = msg.payload.state.playback;\nmsg.payload.date = new Date();\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1290,
        "y": 420,
        "wires": [
            [
                "d1b7a1223dcc967b",
                "14942de8eba593db"
            ]
        ]
    },
    {
        "id": "14942de8eba593db",
        "type": "debug",
        "z": "356bd59b2af96803",
        "name": "debug 33",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 1560,
        "y": 380,
        "wires": []
    },
    {
        "id": "0178299c0e4f7704",
        "type": "mongodb in",
        "z": "356bd59b2af96803",
        "mongodb": "43bb8dbd8cf8d231",
        "name": "",
        "collection": "Power",
        "operation": "find",
        "x": 990,
        "y": 1540,
        "wires": [
            [
                "1162a818f748caf4"
            ]
        ]
    },
    {
        "id": "0ce8fe901ba47353",
        "type": "function",
        "z": "356bd59b2af96803",
        "name": "function 18",
        "func": "msg.action = msg.payload[0].action;\nmsg.limit = 1;\nmsg.sort = { \"date\": -1 };\nmsg.payload = {};\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 770,
        "y": 1540,
        "wires": [
            [
                "0178299c0e4f7704"
            ]
        ]
    },
    {
        "id": "e6bf9d3cfb57191c",
        "type": "function",
        "z": "356bd59b2af96803",
        "name": "ultimo registro",
        "func": "msg.message = msg.payload;\nmsg.limit = 1;\nmsg.sort = { \"date\": -1 };\nmsg.payload = {};\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 280,
        "y": 1600,
        "wires": [
            [
                "fe404d245e5e7a29"
            ]
        ]
    },
    {
        "id": "fe404d245e5e7a29",
        "type": "mongodb in",
        "z": "356bd59b2af96803",
        "mongodb": "43bb8dbd8cf8d231",
        "name": "",
        "collection": "Lampara",
        "operation": "find",
        "x": 540,
        "y": 1600,
        "wires": [
            [
                "54af92989ada5c2b",
                "db19c989ef6714b1"
            ]
        ]
    },
    {
        "id": "db19c989ef6714b1",
        "type": "function",
        "z": "356bd59b2af96803",
        "name": "function 19",
        "func": "msg.lampara = msg.payload[0].lamp;\nmsg.limit = 1;\nmsg.sort = { \"date\": -1 };\nmsg.payload = {};\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 770,
        "y": 1600,
        "wires": [
            [
                "1bbf3a6142894ca0"
            ]
        ]
    },
    {
        "id": "1bbf3a6142894ca0",
        "type": "mongodb in",
        "z": "356bd59b2af96803",
        "mongodb": "43bb8dbd8cf8d231",
        "name": "",
        "collection": "Termostato",
        "operation": "find",
        "x": 1010,
        "y": 1600,
        "wires": [
            [
                "ad2aa7fc7f6ea46c"
            ]
        ]
    },
    {
        "id": "ec708de95205e244",
        "type": "mongodb in",
        "z": "356bd59b2af96803",
        "mongodb": "43bb8dbd8cf8d231",
        "name": "",
        "collection": "Temperatura",
        "operation": "find",
        "x": 1490,
        "y": 1600,
        "wires": [
            [
                "6c9bfc2983af49f2"
            ]
        ]
    },
    {
        "id": "54af92989ada5c2b",
        "type": "debug",
        "z": "356bd59b2af96803",
        "name": "Colleccion Alexa",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 780,
        "y": 1660,
        "wires": []
    },
    {
        "id": "4c9c96452a32dcc9",
        "type": "function",
        "z": "356bd59b2af96803",
        "name": "conv",
        "func": "msg.payload=msg.payload.state.power;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1250,
        "y": 340,
        "wires": [
            [
                "14c04fc4a815ce4d"
            ]
        ]
    },
    {
        "id": "2c6f088dfc25fd1c",
        "type": "mqtt out",
        "z": "356bd59b2af96803",
        "name": "",
        "topic": "II7/ESP833252/Termostato",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "733738945a4a76bc",
        "x": 1320,
        "y": 1120,
        "wires": []
    },
    {
        "id": "4209510ba7129640",
        "type": "http in",
        "z": "356bd59b2af96803",
        "name": "",
        "url": "/brillo",
        "method": "get",
        "upload": false,
        "swaggerDoc": "",
        "x": 120,
        "y": 1040,
        "wires": [
            [
                "43a49cbba8251012"
            ]
        ]
    },
    {
        "id": "254b269b2940fe85",
        "type": "http response",
        "z": "356bd59b2af96803",
        "name": "",
        "statusCode": "",
        "headers": {
            "content-type": "application/json"
        },
        "x": 1010,
        "y": 1040,
        "wires": []
    },
    {
        "id": "43a49cbba8251012",
        "type": "function",
        "z": "356bd59b2af96803",
        "name": "ultimo registro",
        "func": "msg.limit = 1;\nmsg.sort = { \"date\": -1 };\nmsg.payload = {};\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 320,
        "y": 1040,
        "wires": [
            [
                "3c73a9cada191729"
            ]
        ]
    },
    {
        "id": "3c73a9cada191729",
        "type": "mongodb in",
        "z": "356bd59b2af96803",
        "mongodb": "43bb8dbd8cf8d231",
        "name": "",
        "collection": "Lampara",
        "operation": "find",
        "x": 580,
        "y": 1040,
        "wires": [
            [
                "d6f235608c517839"
            ]
        ]
    },
    {
        "id": "d6f235608c517839",
        "type": "function",
        "z": "356bd59b2af96803",
        "name": "mandamos brillo",
        "func": "msg.payload = { \"brillo\": msg.payload[0].lamp };\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 820,
        "y": 1040,
        "wires": [
            [
                "254b269b2940fe85"
            ]
        ]
    },
    {
        "id": "502b2a29d2bbe350",
        "type": "function",
        "z": "356bd59b2af96803",
        "name": "extrae Cortina",
        "func": "var Cortina = msg.payload.Cortina;\nmsg.payload = Cortina;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 760,
        "y": 660,
        "wires": [
            [
                "5a2f2e4211335fa1"
            ]
        ]
    },
    {
        "id": "5a2f2e4211335fa1",
        "type": "function",
        "z": "356bd59b2af96803",
        "name": "actualiza Cortina en Alexa",
        "func": "return { \"payload\": { \"state\": { \"rangeValue\": msg.payload } }, \"acknowledge\" : true };\n\n// Hará falta: \"command\": \"AdjustTargetTemperature\"??\n\n//Opción 2\n//return { \"payload\": msg.payload, \"temperatureScale\": \"CELSIUS\", \"acknowledge\": true };",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 990,
        "y": 660,
        "wires": [
            [
                "c2e970bfdd23eb39",
                "9cace9fb42a56cea"
            ]
        ]
    },
    {
        "id": "c2e970bfdd23eb39",
        "type": "alexa-smart-home-v3-state",
        "z": "356bd59b2af96803",
        "conf": "6237abf040ac4b03",
        "device": "58404",
        "name": "Cortina",
        "x": 1300,
        "y": 660,
        "wires": []
    },
    {
        "id": "d67dbd71c8243b18",
        "type": "mongodb out",
        "z": "356bd59b2af96803",
        "mongodb": "43bb8dbd8cf8d231",
        "name": "",
        "collection": "Cortina",
        "payonly": true,
        "upsert": false,
        "multi": false,
        "operation": "store",
        "x": 1650,
        "y": 640,
        "wires": []
    },
    {
        "id": "9cace9fb42a56cea",
        "type": "function",
        "z": "356bd59b2af96803",
        "name": "convertir a payload",
        "func": "msg.payload.Cortina = msg.payload.state.rangeValue;\nmsg.payload.date = new Date();\n\n// Devuelve solo msg.payload.Cortina y msg.payload.date\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1330,
        "y": 620,
        "wires": [
            [
                "d67dbd71c8243b18",
                "6078397e9c5f217b",
                "4d0eb20f6527a59a"
            ]
        ]
    },
    {
        "id": "0739c3e0991298d4",
        "type": "function",
        "z": "356bd59b2af96803",
        "name": "Datos Alexa",
        "func": "var Cortina = msg.payload[0].Cortina;\nmsg.payload = msg.message;\n//msg.payload.chatId = 6440492345;\n//msg.payload.type = \"message\";\nmsg.payload.content = \"El termostato está a \" + msg.termostato + \"ºC, la temperatura es de \" + msg.temp + \"ºC, la intensidad de brillo de la lámpara es \" + msg.lampara + \"% y la cortina está \" + Cortina + \".\\n\";\n\nreturn msg;\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 2150,
        "y": 1600,
        "wires": [
            [
                "bd151d29777ab2ed",
                "52f0a77705bd7452"
            ]
        ]
    },
    {
        "id": "52f0a77705bd7452",
        "type": "debug",
        "z": "356bd59b2af96803",
        "name": "Telegram Alexa",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 2460,
        "y": 1600,
        "wires": []
    },
    {
        "id": "ad2aa7fc7f6ea46c",
        "type": "function",
        "z": "356bd59b2af96803",
        "name": "function 20",
        "func": "msg.termostato=msg.payload[0].thermo;\nmsg.limit = 1;\nmsg.sort = { \"date\": -1 };\nmsg.payload = {};\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1250,
        "y": 1600,
        "wires": [
            [
                "ec708de95205e244"
            ]
        ]
    },
    {
        "id": "eaac260715807cd0",
        "type": "mongodb in",
        "z": "356bd59b2af96803",
        "mongodb": "43bb8dbd8cf8d231",
        "name": "",
        "collection": "Cortina",
        "operation": "find",
        "x": 1930,
        "y": 1600,
        "wires": [
            [
                "0739c3e0991298d4"
            ]
        ]
    },
    {
        "id": "6c9bfc2983af49f2",
        "type": "function",
        "z": "356bd59b2af96803",
        "name": "function 21",
        "func": "msg.temp = msg.payload[0].temp;\nmsg.limit = 1;\nmsg.sort = { \"date\": -1 };\nmsg.payload = {};\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1710,
        "y": 1600,
        "wires": [
            [
                "eaac260715807cd0"
            ]
        ]
    },
    {
        "id": "4d0eb20f6527a59a",
        "type": "mqtt out",
        "z": "356bd59b2af96803",
        "name": "",
        "topic": "II7/ESP833252/Cortina",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "733738945a4a76bc",
        "x": 1640,
        "y": 580,
        "wires": []
    },
    {
        "id": "5e46eda34b51c964",
        "type": "alexa-smart-home-v3",
        "z": "356bd59b2af96803",
        "conf": "6237abf040ac4b03",
        "device": "58404",
        "acknowledge": false,
        "name": "Cortina",
        "topic": "",
        "x": 90,
        "y": 660,
        "wires": [
            [
                "502b2a29d2bbe350"
            ]
        ]
    },
    {
        "id": "bbae2dd58d338781",
        "type": "ui_switch",
        "z": "356bd59b2af96803",
        "name": "",
        "label": "Abrir/Cerrar",
        "tooltip": "",
        "group": "3d278a243ba4b144",
        "order": 0,
        "width": 0,
        "height": 0,
        "passthru": true,
        "decouple": "false",
        "topic": "topic",
        "topicType": "msg",
        "style": "",
        "onvalue": "ON",
        "onvalueType": "str",
        "onicon": "",
        "oncolor": "",
        "offvalue": "OFF",
        "offvalueType": "str",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "className": "",
        "x": 770,
        "y": 620,
        "wires": [
            [
                "5a2f2e4211335fa1"
            ]
        ]
    },
    {
        "id": "6078397e9c5f217b",
        "type": "debug",
        "z": "356bd59b2af96803",
        "name": "debug 34",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 1600,
        "y": 540,
        "wires": []
    },
    {
        "id": "b582daa76e9b088c",
        "type": "function",
        "z": "356bd59b2af96803",
        "name": "actualiza termostato en Alexa",
        "func": "return { \"payload\": { \"state\": { \"thermostatSetPoint\": msg.payload } }, \"acknowledge\": true };\n\n//Opción 2\n//return { \"payload\": msg.payload, \"temperatureScale\": \"CELSIUS\", \"acknowledge\": true };",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1000,
        "y": 1200,
        "wires": [
            [
                "2c6f088dfc25fd1c",
                "6cbb36ea5755ffde",
                "8bd9f1ebb1a78cfe",
                "64c9a31a3be12394",
                "b150eaf27e694668"
            ]
        ]
    },
    {
        "id": "3db7df1aac1a5225",
        "type": "alexa-smart-home-v3-state",
        "z": "356bd59b2af96803",
        "conf": "6237abf040ac4b03",
        "device": "58572",
        "name": "Speaker",
        "x": 1260,
        "y": 560,
        "wires": []
    },
    {
        "id": "8f4be9c4cf53af3b",
        "type": "function",
        "z": "356bd59b2af96803",
        "name": "extrae brillo Alexa",
        "func": "var brillo = msg.payload;\nmsg.payload = Number(brillo);\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 730,
        "y": 880,
        "wires": [
            [
                "284cca5275f7b069"
            ]
        ]
    },
    {
        "id": "49d911dd08498b66",
        "type": "function",
        "z": "356bd59b2af96803",
        "name": "Apagar o Encender Cubo Alexa",
        "func": "if (msg.command==\"TurnOn\"){\n    msg.payload=\"ON\";\n} else if (msg.command==\"TurnOff\"){\n    msg.payload=\"OFF\";\n}\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 350,
        "y": 420,
        "wires": [
            [
                "098e405315a992e8"
            ]
        ]
    },
    {
        "id": "ccff440327edbd89",
        "type": "ui_spacer",
        "z": "356bd59b2af96803",
        "name": "spacer",
        "group": "a627428919155efa",
        "order": 5,
        "width": 3,
        "height": 1
    },
    {
        "id": "36f88c2e67845c10",
        "type": "ui_spacer",
        "z": "356bd59b2af96803",
        "name": "spacer",
        "group": "a627428919155efa",
        "order": 6,
        "width": 3,
        "height": 1
    },
    {
        "id": "de4c47d248aaaffc",
        "type": "ui_spacer",
        "z": "356bd59b2af96803",
        "name": "spacer",
        "group": "a627428919155efa",
        "order": 7,
        "width": 3,
        "height": 1
    },
    {
        "id": "b452cd9032236d16",
        "type": "mqtt-broker",
        "name": "",
        "broker": "iot.ac.uma.es",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "6237abf040ac4b03",
        "type": "alexa-smart-home-v3-conf",
        "username": "mariaherresa",
        "mqttserver": "mq-red.cb-net.co.uk",
        "webapiurl": "red.cb-net.co.uk",
        "contextName": "memory"
    },
    {
        "id": "d015aa69f1b0dcff",
        "type": "ui_group",
        "name": "Termostato",
        "tab": "ac0468cc34569300",
        "order": 4,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "a627428919155efa",
        "type": "ui_group",
        "name": "Lámpara",
        "tab": "ac0468cc34569300",
        "order": 3,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "6b3b546d93656e4a",
        "type": "ui_group",
        "name": "Altavoz",
        "tab": "ac0468cc34569300",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "10d8358cacd56dec",
        "type": "ui_group",
        "name": "Temperatura",
        "tab": "ac0468cc34569300",
        "order": 2,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "a7b36fc8427261eb",
        "type": "telegram bot",
        "botname": "infind_aqaracube_bot",
        "usernames": "",
        "chatids": "",
        "baseapiurl": "",
        "updatemode": "polling",
        "pollinterval": "300",
        "usesocks": false,
        "sockshost": "",
        "socksprotocol": "socks5",
        "socksport": "6667",
        "socksusername": "anonymous",
        "sockspassword": "",
        "bothost": "",
        "botpath": "",
        "localbotport": "8443",
        "publicbotport": "8443",
        "privatekey": "",
        "certificate": "",
        "useselfsignedcertificate": false,
        "sslterminated": false,
        "verboselogging": false
    },
    {
        "id": "43bb8dbd8cf8d231",
        "type": "mongodb",
        "hostname": "iot.ac.uma.es",
        "topology": "direct",
        "connectOptions": "",
        "port": "27017",
        "db": "II7",
        "name": ""
    },
    {
        "id": "733738945a4a76bc",
        "type": "mqtt-broker",
        "name": "",
        "broker": "iot.ac.uma.es",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "3d278a243ba4b144",
        "type": "ui_group",
        "name": "Cortina",
        "tab": "ac0468cc34569300",
        "order": 5,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "ac0468cc34569300",
        "type": "ui_tab",
        "name": "Proyecto Grupo 7",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    }
]