NodeRED/NODEREDDEFINITIVO.json
[
    {
        "id": "44e4a614699d3564",
        "type": "tab",
        "label": "Proyecto IoT",
        "disabled": false,
        "info": ""
    },
    {
        "id": "8e18a693dd2466da",
        "type": "function",
        "z": "44e4a614699d3564",
        "name": "actualiza temperatura en Alexa",
        "func": "return { \"payload\": { \"state\": { \"temperature\": msg.payload } }, \"acknowledge\" : true };\n\n// Hará falta: \"command\": \"AdjustTargetTemperature\"??\n\n//Opción 2\n//return { \"payload\": msg.payload, \"temperatureScale\": \"CELSIUS\", \"acknowledge\": true };",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1130,
        "y": 900,
        "wires": [
            [
                "44f907b8c860a72f",
                "be3dcf9e3ba5af1a",
                "ce9ec83c11de6ea6"
            ]
        ]
    },
    {
        "id": "bd255b2c7a84e8f3",
        "type": "mqtt in",
        "z": "44e4a614699d3564",
        "name": "",
        "topic": "II7/ESP833252/Alexa",
        "qos": "2",
        "datatype": "auto",
        "broker": "b452cd9032236d16",
        "nl": false,
        "rap": false,
        "inputs": 0,
        "x": 160,
        "y": 800,
        "wires": [
            [
                "1e32ad2b8ecc0fe2"
            ]
        ]
    },
    {
        "id": "1e32ad2b8ecc0fe2",
        "type": "json",
        "z": "44e4a614699d3564",
        "name": "",
        "property": "payload",
        "action": "",
        "pretty": false,
        "x": 470,
        "y": 800,
        "wires": [
            [
                "43f1eea3b99b6ea3",
                "f285f26d2d4d72b0",
                "f209c8904f4b93a8",
                "72398e7963edc682",
                "10c30555e5e32580",
                "e3f9380468c09421",
                "b0855ca90ca353e8"
            ]
        ]
    },
    {
        "id": "f285f26d2d4d72b0",
        "type": "function",
        "z": "44e4a614699d3564",
        "name": "extrae temp",
        "func": "var temp = msg.payload.Temperatura;\nmsg.payload= temp;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 690,
        "y": 900,
        "wires": [
            [
                "8e18a693dd2466da"
            ]
        ]
    },
    {
        "id": "44f907b8c860a72f",
        "type": "alexa-smart-home-v3-state",
        "z": "44e4a614699d3564",
        "conf": "6ddc0cfa8473b107",
        "device": "57964",
        "name": "Sensor de Temperatura",
        "x": 1490,
        "y": 980,
        "wires": []
    },
    {
        "id": "43f1eea3b99b6ea3",
        "type": "debug",
        "z": "44e4a614699d3564",
        "name": "Alexa desde MQTT",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 710,
        "y": 800,
        "wires": []
    },
    {
        "id": "17c9bf3f6e30caa3",
        "type": "alexa-smart-home-v3-state",
        "z": "44e4a614699d3564",
        "conf": "6ddc0cfa8473b107",
        "device": "58031",
        "name": "Altavoz",
        "x": 1440,
        "y": 320,
        "wires": []
    },
    {
        "id": "b0712d0dc8e3791d",
        "type": "debug",
        "z": "44e4a614699d3564",
        "name": "Altavoz desde Alexa",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "command",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 400,
        "y": 440,
        "wires": []
    },
    {
        "id": "b8d0bf1ebc918423",
        "type": "alexa-smart-home-v3",
        "z": "44e4a614699d3564",
        "conf": "6ddc0cfa8473b107",
        "device": "57964",
        "acknowledge": false,
        "name": "Sensor de Temperatura",
        "topic": "",
        "x": 160,
        "y": 900,
        "wires": [
            [
                "9dccb7968dbac213",
                "f285f26d2d4d72b0"
            ]
        ]
    },
    {
        "id": "9dccb7968dbac213",
        "type": "debug",
        "z": "44e4a614699d3564",
        "name": "Temperatura desde Alexa",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 410,
        "y": 940,
        "wires": []
    },
    {
        "id": "f209c8904f4b93a8",
        "type": "function",
        "z": "44e4a614699d3564",
        "name": "extrae brillo",
        "func": "var brillo = msg.payload.Lampara;\nmsg.payload = Number(brillo);\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 690,
        "y": 1080,
        "wires": [
            [
                "34ea403ff3fed1bb"
            ]
        ]
    },
    {
        "id": "34ea403ff3fed1bb",
        "type": "function",
        "z": "44e4a614699d3564",
        "name": "actualiza brillo en Alexa",
        "func": "return { \"payload\": { \"state\": { \"brightness\": msg.payload }}, \"acknowledge\": true};\n// \"command\": \"AdjustBrightness\",",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1110,
        "y": 1040,
        "wires": [
            [
                "215f2c67cd68c7be",
                "34b1af112f2afb60",
                "81e58bba6e651ccb",
                "64589bb398445a32",
                "58c8c208eff7d413"
            ]
        ]
    },
    {
        "id": "0849099c01bd67f8",
        "type": "alexa-smart-home-v3",
        "z": "44e4a614699d3564",
        "conf": "6ddc0cfa8473b107",
        "device": "57965",
        "acknowledge": false,
        "name": "Termostato",
        "topic": "",
        "x": 120,
        "y": 1280,
        "wires": [
            [
                "72398e7963edc682",
                "f52814b3a3811e58"
            ]
        ]
    },
    {
        "id": "72398e7963edc682",
        "type": "function",
        "z": "44e4a614699d3564",
        "name": "extrae termo",
        "func": "var termo = msg.payload.Termostato;\nmsg.payload = termo;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 690,
        "y": 1280,
        "wires": [
            [
                "ce0a7bbd8d189261"
            ]
        ]
    },
    {
        "id": "f52814b3a3811e58",
        "type": "debug",
        "z": "44e4a614699d3564",
        "name": "Termostato desde Alexa",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 410,
        "y": 1320,
        "wires": []
    },
    {
        "id": "3a21f5eb43c9955c",
        "type": "alexa-smart-home-v3-state",
        "z": "44e4a614699d3564",
        "conf": "6ddc0cfa8473b107",
        "device": "57965",
        "name": "Termostato",
        "x": 1450,
        "y": 1460,
        "wires": []
    },
    {
        "id": "a74a2138b640255e",
        "type": "alexa-smart-home-v3",
        "z": "44e4a614699d3564",
        "conf": "6ddc0cfa8473b107",
        "device": "57963",
        "acknowledge": false,
        "name": "Lampara",
        "topic": "",
        "x": 120,
        "y": 1040,
        "wires": [
            [
                "1e0758d06a14ea43",
                "0d9e81792a0ba70e"
            ]
        ]
    },
    {
        "id": "215f2c67cd68c7be",
        "type": "alexa-smart-home-v3-state",
        "z": "44e4a614699d3564",
        "conf": "6ddc0cfa8473b107",
        "device": "57963",
        "name": "Lampara",
        "x": 1440,
        "y": 1200,
        "wires": []
    },
    {
        "id": "1e0758d06a14ea43",
        "type": "debug",
        "z": "44e4a614699d3564",
        "name": "Lámpara desde Alexa",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 400,
        "y": 1080,
        "wires": []
    },
    {
        "id": "34b1af112f2afb60",
        "type": "debug",
        "z": "44e4a614699d3564",
        "name": "Lámpara Command",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1480,
        "y": 1160,
        "wires": []
    },
    {
        "id": "be3dcf9e3ba5af1a",
        "type": "debug",
        "z": "44e4a614699d3564",
        "name": "Sensor Temperatura Command",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1510,
        "y": 940,
        "wires": []
    },
    {
        "id": "d864244f4661b5da",
        "type": "ui_gauge",
        "z": "44e4a614699d3564",
        "name": "",
        "group": "1a89c49ea04c4e3f",
        "order": 2,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Termostato",
        "label": "units",
        "format": "{{msg.payload.state.thermostatSetPoint}}",
        "min": 0,
        "max": "40",
        "colors": [
            "#0000ff",
            "#0080ff",
            "#c60000"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 1450,
        "y": 1380,
        "wires": []
    },
    {
        "id": "81e58bba6e651ccb",
        "type": "ui_gauge",
        "z": "44e4a614699d3564",
        "name": "",
        "group": "f25245920e89665e",
        "order": 3,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Intensidad Lámpara",
        "label": "%",
        "format": "{{msg.payload.state.brightness}} %",
        "min": 0,
        "max": "100",
        "colors": [
            "#737300",
            "#dfdf00",
            "#ffff00"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 1480,
        "y": 1120,
        "wires": []
    },
    {
        "id": "c5c79a5715dad141",
        "type": "ui_led",
        "z": "44e4a614699d3564",
        "order": 2,
        "group": "f25245920e89665e",
        "width": 6,
        "height": 3,
        "label": "Lámpara",
        "labelPlacement": "left",
        "labelAlignment": "left",
        "colorForValue": [
            {
                "color": "#626200",
                "value": "0",
                "valueType": "num"
            },
            {
                "color": "#959500",
                "value": "25",
                "valueType": "num"
            },
            {
                "color": "#cccc00",
                "value": "50",
                "valueType": "num"
            },
            {
                "color": "#f0f000",
                "value": "75",
                "valueType": "num"
            },
            {
                "color": "#ffff00",
                "value": "100",
                "valueType": "num"
            }
        ],
        "allowColorForValueInMessage": true,
        "shape": "circle",
        "showGlow": true,
        "name": "Lámpara",
        "x": 1780,
        "y": 1100,
        "wires": []
    },
    {
        "id": "0909010f06bddf2b",
        "type": "ui_widget_thermometer",
        "z": "44e4a614699d3564",
        "group": "c9068e829ef24a7d",
        "order": 1,
        "width": 0,
        "height": 0,
        "name": "Sensor de temperatura",
        "title": "",
        "numColor": 3,
        "colorTop": "#2196f3",
        "colorMiddle": "#8bc34a",
        "colorBottom": "#f44336",
        "unit": "°C",
        "scale": "normal",
        "minTemp": 0,
        "maxTemp": "50",
        "minTempMoreThanMaxTemp": "1",
        "numberOfDecimals": "0",
        "showPercentage": "0",
        "x": 1820,
        "y": 960,
        "wires": []
    },
    {
        "id": "ce9ec83c11de6ea6",
        "type": "function",
        "z": "44e4a614699d3564",
        "name": "convertir para mongodb",
        "func": "msg.payload.temp = msg.payload.state.temperature;\nmsg.payload.date = new Date();\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1490,
        "y": 900,
        "wires": [
            [
                "0909010f06bddf2b",
                "58d954c8b6e7cedc"
            ]
        ]
    },
    {
        "id": "64589bb398445a32",
        "type": "function",
        "z": "44e4a614699d3564",
        "name": "adaptar payload",
        "func": "if (msg.payload.state.brightness <= 20)\n{\n    msg.payload = 0;\n} else if (msg.payload.state.brightness <= 40) \n{\n    msg.payload = 25;\n} else if (msg.payload.state.brightness <= 65) \n{\n    msg.payload = 50;\n} else if (msg.payload.state.brightness <= 90) \n{\n    msg.payload = 75;\n} else\n{\n    msg.payload = 100;\n}\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1460,
        "y": 1080,
        "wires": [
            [
                "c5c79a5715dad141"
            ]
        ]
    },
    {
        "id": "11abe91ae4526ded",
        "type": "ui_led",
        "z": "44e4a614699d3564",
        "order": 1,
        "group": "28e6883a4f4859fc",
        "width": 0,
        "height": 0,
        "label": "Estado Altavoz",
        "labelPlacement": "left",
        "labelAlignment": "left",
        "colorForValue": [
            {
                "color": "#008000",
                "value": "ON",
                "valueType": "str"
            },
            {
                "color": "#ff0000",
                "value": "OFF",
                "valueType": "str"
            }
        ],
        "allowColorForValueInMessage": true,
        "shape": "circle",
        "showGlow": true,
        "name": "Estado Altavoz",
        "x": 1800,
        "y": 240,
        "wires": []
    },
    {
        "id": "c69c8420e14fb52c",
        "type": "ui_slider",
        "z": "44e4a614699d3564",
        "name": "",
        "label": "Intensidad",
        "tooltip": "",
        "group": "f25245920e89665e",
        "order": 1,
        "width": 0,
        "height": 0,
        "passthru": true,
        "outs": "all",
        "topic": "",
        "topicType": "str",
        "min": 0,
        "max": "100",
        "step": 1,
        "className": "",
        "x": 690,
        "y": 1120,
        "wires": [
            [
                "34ea403ff3fed1bb"
            ]
        ]
    },
    {
        "id": "c5486757353403da",
        "type": "ui_numeric",
        "z": "44e4a614699d3564",
        "name": "",
        "label": "Termostato",
        "tooltip": "",
        "group": "1a89c49ea04c4e3f",
        "order": 1,
        "width": 0,
        "height": 0,
        "wrap": false,
        "passthru": true,
        "topic": "topic",
        "topicType": "msg",
        "format": "{{value}}",
        "min": 0,
        "max": "45",
        "step": 1,
        "className": "",
        "x": 690,
        "y": 1320,
        "wires": [
            [
                "ce0a7bbd8d189261"
            ]
        ]
    },
    {
        "id": "b8ba0d1815022881",
        "type": "function",
        "z": "44e4a614699d3564",
        "name": "actualiza power en Alexa",
        "func": "return { \"payload\": { \"state\": { \"power\": msg.payload } }, \"acknowledge\" : true };\n\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1110,
        "y": 180,
        "wires": [
            [
                "17c9bf3f6e30caa3",
                "8a001c0fd05e4dcd",
                "9c0cb2b11a9031c1",
                "fad40dcee7e56715"
            ]
        ]
    },
    {
        "id": "d5cc50b6be595eab",
        "type": "http in",
        "z": "44e4a614699d3564",
        "name": "",
        "url": "/power",
        "method": "post",
        "upload": false,
        "swaggerDoc": "",
        "x": 130,
        "y": 240,
        "wires": [
            [
                "174437517bab5654",
                "4dc028345565191e",
                "aa0ef64f7d19951b"
            ]
        ]
    },
    {
        "id": "174437517bab5654",
        "type": "debug",
        "z": "44e4a614699d3564",
        "name": "Estado Altavoz",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 380,
        "y": 300,
        "wires": []
    },
    {
        "id": "aa0ef64f7d19951b",
        "type": "function",
        "z": "44e4a614699d3564",
        "name": "Apagar o Encender Cubo",
        "func": "msg.payload = msg.payload.power;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 410,
        "y": 180,
        "wires": [
            [
                "b8ba0d1815022881"
            ]
        ]
    },
    {
        "id": "1c83560488059465",
        "type": "debug",
        "z": "44e4a614699d3564",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "x": 510,
        "y": 1540,
        "wires": []
    },
    {
        "id": "5e166e08750f085d",
        "type": "function",
        "z": "44e4a614699d3564",
        "name": "mensaje bienvenida",
        "func": "if(msg.payload.content.substring(0,1)!=\"/\")\n{\n    msg.payload.content =\"Hola! Soy el bot del Grupo 7 de Informática Industrial. Puedo responderte a estos comandos:\\n/start\\n/Alexa\\n\\nPara mirar un sólo dispositivo de la aplicación pulsa:\\n/Lampara\\n/Termostato\\n/Temperatura\\n/Cortina\\n/Cerradura\\n/Altavoz\";\n return msg;\n}",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 540,
        "y": 1580,
        "wires": [
            [
                "52ab6e908bdb7cac"
            ]
        ]
    },
    {
        "id": "927c4989f699b01e",
        "type": "telegram receiver",
        "z": "44e4a614699d3564",
        "name": "",
        "bot": "92064d6951473513",
        "saveDataDir": "",
        "filterCommands": true,
        "x": 150,
        "y": 1540,
        "wires": [
            [
                "1c83560488059465",
                "5e166e08750f085d"
            ],
            []
        ]
    },
    {
        "id": "52ab6e908bdb7cac",
        "type": "telegram sender",
        "z": "44e4a614699d3564",
        "name": "",
        "bot": "92064d6951473513",
        "haserroroutput": false,
        "outputs": 1,
        "x": 3790,
        "y": 1580,
        "wires": [
            []
        ]
    },
    {
        "id": "03444589ada98bd2",
        "type": "telegram command",
        "z": "44e4a614699d3564",
        "name": "",
        "command": "/start",
        "description": "",
        "registercommand": false,
        "language": "",
        "scope": "default",
        "bot": "92064d6951473513",
        "strict": false,
        "hasresponse": true,
        "useregex": false,
        "removeregexcommand": false,
        "outputs": 2,
        "x": 110,
        "y": 1600,
        "wires": [
            [
                "5e166e08750f085d"
            ],
            []
        ]
    },
    {
        "id": "58d954c8b6e7cedc",
        "type": "mongodb out",
        "z": "44e4a614699d3564",
        "mongodb": "ea6ae5ec8aa70504",
        "name": "",
        "collection": "Temperatura",
        "payonly": true,
        "upsert": false,
        "multi": false,
        "operation": "store",
        "x": 1850,
        "y": 900,
        "wires": []
    },
    {
        "id": "d20226c30a0754a8",
        "type": "telegram command",
        "z": "44e4a614699d3564",
        "name": "",
        "command": "/Alexa",
        "description": "",
        "registercommand": false,
        "language": "",
        "scope": "default",
        "bot": "92064d6951473513",
        "strict": false,
        "hasresponse": true,
        "useregex": false,
        "removeregexcommand": false,
        "outputs": 2,
        "x": 110,
        "y": 2020,
        "wires": [
            [
                "215a18bdd64f8820"
            ],
            []
        ]
    },
    {
        "id": "1795b94ba162df27",
        "type": "mongodb out",
        "z": "44e4a614699d3564",
        "mongodb": "ea6ae5ec8aa70504",
        "name": "",
        "collection": "Lampara",
        "payonly": true,
        "upsert": false,
        "multi": false,
        "operation": "store",
        "x": 1840,
        "y": 1040,
        "wires": []
    },
    {
        "id": "c48a352f4068f95d",
        "type": "mongodb out",
        "z": "44e4a614699d3564",
        "mongodb": "ea6ae5ec8aa70504",
        "name": "",
        "collection": "Termostato",
        "payonly": true,
        "upsert": false,
        "multi": false,
        "operation": "store",
        "x": 1850,
        "y": 1280,
        "wires": []
    },
    {
        "id": "a2bbac80e7ae89a7",
        "type": "debug",
        "z": "44e4a614699d3564",
        "name": "Termostato Command",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1480,
        "y": 1420,
        "wires": []
    },
    {
        "id": "ebaea10690e3c37e",
        "type": "mongodb out",
        "z": "44e4a614699d3564",
        "mongodb": "ea6ae5ec8aa70504",
        "name": "",
        "collection": "Power",
        "payonly": true,
        "upsert": false,
        "multi": false,
        "operation": "store",
        "x": 1830,
        "y": 180,
        "wires": []
    },
    {
        "id": "4dc028345565191e",
        "type": "function",
        "z": "44e4a614699d3564",
        "name": "respuesta",
        "func": "var parametros = msg.req.query;\n\nif (msg.payload.hasOwnProperty(\"power\")) {\n    msg.payload.date = new Date();\n    msg.statusCode = 201;\n    return [msg, msg];\n}\nelse {\n    msg.statusCode = 400; // error\n    return [msg, null];\n}",
        "outputs": 2,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 360,
        "y": 240,
        "wires": [
            [
                "a530ae15138a1779"
            ],
            [
                "105593b76ee000e8"
            ]
        ]
    },
    {
        "id": "a530ae15138a1779",
        "type": "http response",
        "z": "44e4a614699d3564",
        "name": "",
        "statusCode": "",
        "headers": {
            "content-type": "application/json"
        },
        "x": 670,
        "y": 220,
        "wires": []
    },
    {
        "id": "105593b76ee000e8",
        "type": "debug",
        "z": "44e4a614699d3564",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 690,
        "y": 260,
        "wires": []
    },
    {
        "id": "8a001c0fd05e4dcd",
        "type": "debug",
        "z": "44e4a614699d3564",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 1450,
        "y": 260,
        "wires": []
    },
    {
        "id": "9c0cb2b11a9031c1",
        "type": "function",
        "z": "44e4a614699d3564",
        "name": "convertir para mogodb",
        "func": "msg.payload.power=msg.payload.state.power;\nmsg.payload.date=new Date();\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1480,
        "y": 180,
        "wires": [
            [
                "ebaea10690e3c37e",
                "b0f543c97da07a4a"
            ]
        ]
    },
    {
        "id": "41b60da7572e5d98",
        "type": "function",
        "z": "44e4a614699d3564",
        "name": "convertir para mongodb",
        "func": "msg.payload.thermo = msg.payload.state.thermostatSetPoint;\nmsg.payload.date = new Date();\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1490,
        "y": 1280,
        "wires": [
            [
                "c48a352f4068f95d"
            ]
        ]
    },
    {
        "id": "58c8c208eff7d413",
        "type": "function",
        "z": "44e4a614699d3564",
        "name": "convertir para mogodb",
        "func": "msg.payload.lamp = msg.payload.state.brightness;\nmsg.payload.date = new Date();\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1480,
        "y": 1040,
        "wires": [
            [
                "1795b94ba162df27"
            ]
        ]
    },
    {
        "id": "b0f543c97da07a4a",
        "type": "debug",
        "z": "44e4a614699d3564",
        "name": "debug 32",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 1780,
        "y": 140,
        "wires": []
    },
    {
        "id": "832b86030e311bef",
        "type": "mongodb in",
        "z": "44e4a614699d3564",
        "mongodb": "ea6ae5ec8aa70504",
        "name": "",
        "collection": "Power",
        "operation": "find",
        "x": 3350,
        "y": 2020,
        "wires": [
            [
                "1f0d7592f2f7c708"
            ]
        ]
    },
    {
        "id": "2c94ccfbe61c035e",
        "type": "function",
        "z": "44e4a614699d3564",
        "name": "function 18",
        "func": "msg.volumen = msg.payload[0].volume;\nmsg.limit = 1;\nmsg.sort = { \"date\": -1 };\nmsg.payload = {};\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 3130,
        "y": 2020,
        "wires": [
            [
                "832b86030e311bef"
            ]
        ]
    },
    {
        "id": "215a18bdd64f8820",
        "type": "function",
        "z": "44e4a614699d3564",
        "name": "ultimo registro",
        "func": "msg.message = msg.payload;\nmsg.limit = 1;\nmsg.sort = { \"date\": -1 };\nmsg.payload = {};\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 320,
        "y": 2020,
        "wires": [
            [
                "0b2d3dbd4ccd29b8"
            ]
        ]
    },
    {
        "id": "0b2d3dbd4ccd29b8",
        "type": "mongodb in",
        "z": "44e4a614699d3564",
        "mongodb": "ea6ae5ec8aa70504",
        "name": "",
        "collection": "Lampara",
        "operation": "find",
        "x": 560,
        "y": 2020,
        "wires": [
            [
                "0ad69e8fd79f67f3"
            ]
        ]
    },
    {
        "id": "0ad69e8fd79f67f3",
        "type": "function",
        "z": "44e4a614699d3564",
        "name": "function 19",
        "func": "msg.lampara = msg.payload[0].lamp;\nmsg.limit = 1;\nmsg.sort = { \"date\": -1 };\nmsg.payload = {};\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 810,
        "y": 2020,
        "wires": [
            [
                "9d656c8d1162150d"
            ]
        ]
    },
    {
        "id": "9d656c8d1162150d",
        "type": "mongodb in",
        "z": "44e4a614699d3564",
        "mongodb": "ea6ae5ec8aa70504",
        "name": "",
        "collection": "Termostato",
        "operation": "find",
        "x": 1070,
        "y": 2020,
        "wires": [
            [
                "56da7f4c83e513f4"
            ]
        ]
    },
    {
        "id": "cba5557bd2dca426",
        "type": "mongodb in",
        "z": "44e4a614699d3564",
        "mongodb": "ea6ae5ec8aa70504",
        "name": "",
        "collection": "Temperatura",
        "operation": "find",
        "x": 1550,
        "y": 2020,
        "wires": [
            [
                "85e0ad81fcd923fc"
            ]
        ]
    },
    {
        "id": "fad40dcee7e56715",
        "type": "function",
        "z": "44e4a614699d3564",
        "name": "convertir a payload",
        "func": "msg.payload=msg.payload.state.power;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1470,
        "y": 220,
        "wires": [
            [
                "11abe91ae4526ded"
            ]
        ]
    },
    {
        "id": "96855f9b66a6cdb1",
        "type": "mqtt out",
        "z": "44e4a614699d3564",
        "name": "",
        "topic": "II7/ESP833252/Termostato",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "733738945a4a76bc",
        "x": 1500,
        "y": 1320,
        "wires": []
    },
    {
        "id": "8be42b4ee4d2569a",
        "type": "http in",
        "z": "44e4a614699d3564",
        "name": "",
        "url": "/brillo",
        "method": "get",
        "upload": false,
        "swaggerDoc": "",
        "x": 120,
        "y": 120,
        "wires": [
            [
                "bca43d02f312c4ab"
            ]
        ]
    },
    {
        "id": "a938b83cb1a62bc0",
        "type": "http response",
        "z": "44e4a614699d3564",
        "name": "",
        "statusCode": "",
        "headers": {
            "content-type": "application/json"
        },
        "x": 1430,
        "y": 120,
        "wires": []
    },
    {
        "id": "bca43d02f312c4ab",
        "type": "function",
        "z": "44e4a614699d3564",
        "name": "ultimo registro",
        "func": "msg.limit = 1;\nmsg.sort = { \"date\": -1 };\nmsg.payload = {};\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 380,
        "y": 120,
        "wires": [
            [
                "84e8ea6ad56aae10"
            ]
        ]
    },
    {
        "id": "84e8ea6ad56aae10",
        "type": "mongodb in",
        "z": "44e4a614699d3564",
        "mongodb": "ea6ae5ec8aa70504",
        "name": "",
        "collection": "Lampara",
        "operation": "find",
        "x": 740,
        "y": 120,
        "wires": [
            [
                "12d3bcf626f35543"
            ]
        ]
    },
    {
        "id": "12d3bcf626f35543",
        "type": "function",
        "z": "44e4a614699d3564",
        "name": "mandamos brillo",
        "func": "msg.payload = { \"brillo\": msg.payload[0].lamp };\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1080,
        "y": 120,
        "wires": [
            [
                "a938b83cb1a62bc0"
            ]
        ]
    },
    {
        "id": "10c30555e5e32580",
        "type": "function",
        "z": "44e4a614699d3564",
        "name": "extrae Cortina",
        "func": "var Cortina = msg.payload.Cortina;\nmsg.payload = Cortina;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 700,
        "y": 700,
        "wires": [
            [
                "edc29a94235cf577"
            ]
        ]
    },
    {
        "id": "edc29a94235cf577",
        "type": "function",
        "z": "44e4a614699d3564",
        "name": "actualiza Cortina en Alexa",
        "func": "return { \"payload\": { \"state\": { \"rangeValue\": msg.payload } }, \"acknowledge\" : true };\n\n// Hará falta: \"command\": \"AdjustTargetTemperature\"??\n\n//Opción 2\n//return { \"payload\": msg.payload, \"temperatureScale\": \"CELSIUS\", \"acknowledge\": true };",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1110,
        "y": 700,
        "wires": [
            [
                "9aa3aab26287a2aa",
                "3321cf180b1b3ff2"
            ]
        ]
    },
    {
        "id": "9aa3aab26287a2aa",
        "type": "alexa-smart-home-v3-state",
        "z": "44e4a614699d3564",
        "conf": "6ddc0cfa8473b107",
        "device": "58404",
        "name": "Cortina",
        "x": 1440,
        "y": 740,
        "wires": []
    },
    {
        "id": "8e3ea9348ac17918",
        "type": "mongodb out",
        "z": "44e4a614699d3564",
        "mongodb": "ea6ae5ec8aa70504",
        "name": "",
        "collection": "Cortina",
        "payonly": true,
        "upsert": false,
        "multi": false,
        "operation": "store",
        "x": 1830,
        "y": 700,
        "wires": []
    },
    {
        "id": "3321cf180b1b3ff2",
        "type": "function",
        "z": "44e4a614699d3564",
        "name": "convertir para mongodb",
        "func": "msg.payload.Cortina = msg.payload.state.rangeValue;\nmsg.payload.date = new Date();\n\n// Devuelve solo msg.payload.Cortina y msg.payload.date\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1490,
        "y": 700,
        "wires": [
            [
                "8e3ea9348ac17918",
                "1e88d8e29c15d542",
                "a02959a476573748"
            ]
        ]
    },
    {
        "id": "1f0d7592f2f7c708",
        "type": "function",
        "z": "44e4a614699d3564",
        "name": "Datos Alexa",
        "func": "var estado;\n\nif (msg.payload[0].power == \"ON\") {\n    estado = \"encendido\";\n} else {\n    estado = \"apagado\";\n}\n\nmsg.payload = msg.message;\n//msg.payload.chatId = 6440492345;\n//msg.payload.type = \"message\";\nmsg.payload.content = \"El termostato está a \" + msg.termostato + \"ºC, la temperatura es de \" + msg.temp + \"ºC, la intensidad de brillo de la lámpara es \" + msg.lampara + \"%, la cortina está \" + msg.cortina + \", la puerta principal está \" + msg.cerradura + \" y el altavoz está \"+ estado + \", con un volumen de \" + msg.volumen + \" sobre 100.\\n\";\n\nreturn msg;\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 3570,
        "y": 2020,
        "wires": [
            [
                "1f95671688ee248c",
                "52ab6e908bdb7cac"
            ]
        ]
    },
    {
        "id": "1f95671688ee248c",
        "type": "debug",
        "z": "44e4a614699d3564",
        "name": "Telegram Alexa",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 3760,
        "y": 2020,
        "wires": []
    },
    {
        "id": "56da7f4c83e513f4",
        "type": "function",
        "z": "44e4a614699d3564",
        "name": "function 20",
        "func": "msg.termostato=msg.payload[0].thermo;\nmsg.limit = 1;\nmsg.sort = { \"date\": -1 };\nmsg.payload = {};\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1310,
        "y": 2020,
        "wires": [
            [
                "cba5557bd2dca426"
            ]
        ]
    },
    {
        "id": "0613f2ba2178a6f0",
        "type": "mongodb in",
        "z": "44e4a614699d3564",
        "mongodb": "ea6ae5ec8aa70504",
        "name": "",
        "collection": "Cortina",
        "operation": "find",
        "x": 2010,
        "y": 2020,
        "wires": [
            [
                "f45af17ce0e2d0cf"
            ]
        ]
    },
    {
        "id": "85e0ad81fcd923fc",
        "type": "function",
        "z": "44e4a614699d3564",
        "name": "function 21",
        "func": "msg.temp = msg.payload[0].temp;\nmsg.limit = 1;\nmsg.sort = { \"date\": -1 };\nmsg.payload = {};\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1790,
        "y": 2020,
        "wires": [
            [
                "0613f2ba2178a6f0"
            ]
        ]
    },
    {
        "id": "c668928f11a4164a",
        "type": "alexa-smart-home-v3",
        "z": "44e4a614699d3564",
        "conf": "6ddc0cfa8473b107",
        "device": "58404",
        "acknowledge": false,
        "name": "Cortina",
        "topic": "",
        "x": 110,
        "y": 700,
        "wires": [
            [
                "10c30555e5e32580"
            ]
        ]
    },
    {
        "id": "9dba039ee0f83ca6",
        "type": "ui_switch",
        "z": "44e4a614699d3564",
        "name": "",
        "label": "Abrir/Cerrar",
        "tooltip": "",
        "group": "31d510dc31af2373",
        "order": 1,
        "width": 0,
        "height": 0,
        "passthru": true,
        "decouple": "false",
        "topic": "topic",
        "topicType": "msg",
        "style": "",
        "onvalue": "ON",
        "onvalueType": "str",
        "onicon": "",
        "oncolor": "",
        "offvalue": "OFF",
        "offvalueType": "str",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "className": "",
        "x": 690,
        "y": 660,
        "wires": [
            [
                "edc29a94235cf577"
            ]
        ]
    },
    {
        "id": "1e88d8e29c15d542",
        "type": "debug",
        "z": "44e4a614699d3564",
        "name": "debug 34",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 1780,
        "y": 660,
        "wires": []
    },
    {
        "id": "ce0a7bbd8d189261",
        "type": "function",
        "z": "44e4a614699d3564",
        "name": "actualiza termostato en Alexa",
        "func": "return { \"payload\": { \"state\": { \"thermostatSetPoint\": msg.payload } }, \"acknowledge\": true };\n\n//Opción 2\n//return { \"payload\": msg.payload, \"temperatureScale\": \"CELSIUS\", \"acknowledge\": true };",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1130,
        "y": 1280,
        "wires": [
            [
                "96855f9b66a6cdb1",
                "d864244f4661b5da",
                "3a21f5eb43c9955c",
                "41b60da7572e5d98",
                "a2bbac80e7ae89a7"
            ]
        ]
    },
    {
        "id": "0d9e81792a0ba70e",
        "type": "function",
        "z": "44e4a614699d3564",
        "name": "extrae brillo Alexa",
        "func": "var brillo = msg.payload;\nmsg.payload = Number(brillo);\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 710,
        "y": 1040,
        "wires": [
            [
                "34ea403ff3fed1bb"
            ]
        ]
    },
    {
        "id": "5441d5d6217cddcb",
        "type": "function",
        "z": "44e4a614699d3564",
        "name": "Apagar o Encender Cubo desde Alexa",
        "func": "if (msg.command==\"TurnOn\"){\n    msg.payload=\"ON\";\n} else if (msg.command==\"TurnOff\"){\n    msg.payload=\"OFF\";\n}\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 770,
        "y": 360,
        "wires": [
            [
                "b8ba0d1815022881"
            ]
        ]
    },
    {
        "id": "e3f9380468c09421",
        "type": "function",
        "z": "44e4a614699d3564",
        "name": "extrae lock",
        "func": "var lock = msg.payload.Lock;\nmsg.payload= lock;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 690,
        "y": 520,
        "wires": [
            [
                "7f0e24699d0c6822"
            ]
        ]
    },
    {
        "id": "b0855ca90ca353e8",
        "type": "function",
        "z": "44e4a614699d3564",
        "name": "extrae volumen",
        "func": "var vol = msg.payload.Volumen;\nif (vol>=0){\n    msg.payload = Number(vol);\n} else {\n    msg.payload=30;\n}\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 700,
        "y": 400,
        "wires": [
            [
                "dc9b4f4c4e0226e3"
            ]
        ]
    },
    {
        "id": "7f0e24699d0c6822",
        "type": "function",
        "z": "44e4a614699d3564",
        "name": "actualiza cerradura en Alexa",
        "func": "return { \"payload\": { \"state\": { \"lock\": msg.payload } }, \"acknowledge\" : true };\n\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1120,
        "y": 520,
        "wires": [
            [
                "c26ea2299a07b6d4",
                "d70a1d0c39a4d3e5",
                "6776da41d2939256"
            ]
        ]
    },
    {
        "id": "dc9b4f4c4e0226e3",
        "type": "function",
        "z": "44e4a614699d3564",
        "name": "actualiza volumen en Alexa",
        "func": "return { \"payload\": { \"state\": { \"volume\": msg.payload } }, \"acknowledge\" : true };\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1120,
        "y": 400,
        "wires": [
            [
                "17c9bf3f6e30caa3",
                "50ecf4eeb95db728",
                "d2bac92703488bfc",
                "ca7a53f4f4401667"
            ]
        ]
    },
    {
        "id": "6eaa16ca8db887a7",
        "type": "alexa-smart-home-v3",
        "z": "44e4a614699d3564",
        "conf": "6ddc0cfa8473b107",
        "device": "58590",
        "acknowledge": false,
        "name": "Cerradura",
        "topic": "",
        "x": 120,
        "y": 520,
        "wires": [
            [
                "e3f9380468c09421"
            ]
        ]
    },
    {
        "id": "c26ea2299a07b6d4",
        "type": "alexa-smart-home-v3-state",
        "z": "44e4a614699d3564",
        "conf": "6ddc0cfa8473b107",
        "device": "58590",
        "name": "Cerradura",
        "x": 1440,
        "y": 600,
        "wires": []
    },
    {
        "id": "6776da41d2939256",
        "type": "function",
        "z": "44e4a614699d3564",
        "name": "convertir para mongodb",
        "func": "msg.payload.Lock = msg.payload.state.lock;\nmsg.payload.date = new Date();\n\n// Devuelve solo msg.payload.Cortina y msg.payload.date\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1490,
        "y": 520,
        "wires": [
            [
                "e055a95fdeb04189",
                "f94b083bd9f0b150",
                "f1deeb002159443d"
            ]
        ]
    },
    {
        "id": "4a4d7f1a64021ace",
        "type": "alexa-smart-home-v3",
        "z": "44e4a614699d3564",
        "conf": "6ddc0cfa8473b107",
        "device": "58031",
        "acknowledge": false,
        "name": "Altavoz",
        "topic": "",
        "x": 110,
        "y": 380,
        "wires": [
            [
                "af068676b4b291e1",
                "b0712d0dc8e3791d"
            ]
        ]
    },
    {
        "id": "d70a1d0c39a4d3e5",
        "type": "debug",
        "z": "44e4a614699d3564",
        "name": "Cerradura Command",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1480,
        "y": 560,
        "wires": []
    },
    {
        "id": "50ecf4eeb95db728",
        "type": "debug",
        "z": "44e4a614699d3564",
        "name": "Volumen Command",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1470,
        "y": 480,
        "wires": []
    },
    {
        "id": "fe549d25d9e991cc",
        "type": "mongodb out",
        "z": "44e4a614699d3564",
        "mongodb": "ea6ae5ec8aa70504",
        "name": "",
        "collection": "Volume",
        "payonly": true,
        "upsert": false,
        "multi": false,
        "operation": "store",
        "x": 1840,
        "y": 400,
        "wires": []
    },
    {
        "id": "d2bac92703488bfc",
        "type": "function",
        "z": "44e4a614699d3564",
        "name": "convertir para mongodb",
        "func": "msg.payload.volume=msg.payload.state.volume;\nmsg.payload.date=new Date();\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1490,
        "y": 400,
        "wires": [
            [
                "fe549d25d9e991cc",
                "0c761295414d4d86"
            ]
        ]
    },
    {
        "id": "0c761295414d4d86",
        "type": "debug",
        "z": "44e4a614699d3564",
        "name": "debug 35",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 1780,
        "y": 360,
        "wires": []
    },
    {
        "id": "ca7a53f4f4401667",
        "type": "ui_text",
        "z": "44e4a614699d3564",
        "group": "28e6883a4f4859fc",
        "order": 2,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Volumen Altavoz",
        "format": "{{msg.payload.state.volume}} %",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 1470,
        "y": 440,
        "wires": []
    },
    {
        "id": "f94b083bd9f0b150",
        "type": "mongodb out",
        "z": "44e4a614699d3564",
        "mongodb": "ea6ae5ec8aa70504",
        "name": "",
        "collection": "Lock",
        "payonly": true,
        "upsert": false,
        "multi": false,
        "operation": "store",
        "x": 1830,
        "y": 520,
        "wires": []
    },
    {
        "id": "e055a95fdeb04189",
        "type": "debug",
        "z": "44e4a614699d3564",
        "name": "debug 36",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 1780,
        "y": 480,
        "wires": []
    },
    {
        "id": "af068676b4b291e1",
        "type": "switch",
        "z": "44e4a614699d3564",
        "name": "",
        "property": "command",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "TurnOn",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "TurnOff",
                "vt": "str"
            },
            {
                "t": "gte",
                "v": "0",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 3,
        "x": 350,
        "y": 380,
        "wires": [
            [
                "5441d5d6217cddcb"
            ],
            [
                "5441d5d6217cddcb"
            ],
            [
                "b0855ca90ca353e8"
            ]
        ]
    },
    {
        "id": "f45af17ce0e2d0cf",
        "type": "function",
        "z": "44e4a614699d3564",
        "name": "function 22",
        "func": "var cortina = msg.payload[0].Cortina;\n\nif (cortina == 0) {\n    msg.cortina = \"totalmente bajada\";\n} else if (cortina == 20) {\n    msg.cortina = \"al 20% subida\";\n} else if (cortina == 40) {\n    msg.cortina = \"al 40% subida\";\n} else if (cortina == 60) {\n    msg.cortina = \"al 60% subida\";\n} else if (cortina == 80) {\n    msg.cortina = \"al 80% subida\";\n} else if (cortina == 100) {\n    msg.cortina = \"totalmente subida\";\n}\n\nmsg.limit = 1;\nmsg.sort = { \"date\": -1 };\nmsg.payload = {};\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 2230,
        "y": 2020,
        "wires": [
            [
                "ca9fb13b27647088"
            ]
        ]
    },
    {
        "id": "ca9fb13b27647088",
        "type": "mongodb in",
        "z": "44e4a614699d3564",
        "mongodb": "ea6ae5ec8aa70504",
        "name": "",
        "collection": "Lock",
        "operation": "find",
        "x": 2450,
        "y": 2020,
        "wires": [
            [
                "d8d2ea523abff75c"
            ]
        ]
    },
    {
        "id": "d8d2ea523abff75c",
        "type": "function",
        "z": "44e4a614699d3564",
        "name": "function 23",
        "func": "var lock = msg.payload[0].Lock;\n\nif (lock == \"UNLOCKED\") {\n    msg.cerradura = \"abierta\";\n} else if (lock == \"LOCKED\") {\n    msg.cerradura = \"cerrada\";\n}\n\nmsg.limit = 1;\nmsg.sort = { \"date\": -1 };\nmsg.payload = {};\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 2670,
        "y": 2020,
        "wires": [
            [
                "f88b75cba8ba7d47"
            ]
        ]
    },
    {
        "id": "f88b75cba8ba7d47",
        "type": "mongodb in",
        "z": "44e4a614699d3564",
        "mongodb": "ea6ae5ec8aa70504",
        "name": "",
        "collection": "Volume",
        "operation": "find",
        "x": 2900,
        "y": 2020,
        "wires": [
            [
                "2c94ccfbe61c035e"
            ]
        ]
    },
    {
        "id": "346a0b5eb2a7d17f",
        "type": "telegram command",
        "z": "44e4a614699d3564",
        "name": "",
        "command": "/Lampara",
        "description": "",
        "registercommand": false,
        "language": "",
        "scope": "default",
        "bot": "92064d6951473513",
        "strict": false,
        "hasresponse": true,
        "useregex": false,
        "removeregexcommand": false,
        "outputs": 2,
        "x": 120,
        "y": 1660,
        "wires": [
            [
                "aa8dfd772de77b7c"
            ],
            []
        ]
    },
    {
        "id": "aa8dfd772de77b7c",
        "type": "function",
        "z": "44e4a614699d3564",
        "name": "ultimo registro",
        "func": "msg.message = msg.payload;\nmsg.limit = 1;\nmsg.sort = { \"date\": -1 };\nmsg.payload = {};\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 320,
        "y": 1660,
        "wires": [
            [
                "2678ecf3a91b6e22"
            ]
        ]
    },
    {
        "id": "2678ecf3a91b6e22",
        "type": "mongodb in",
        "z": "44e4a614699d3564",
        "mongodb": "ea6ae5ec8aa70504",
        "name": "",
        "collection": "Lampara",
        "operation": "find",
        "x": 560,
        "y": 1660,
        "wires": [
            [
                "e65cb6f12ef4f7d4"
            ]
        ]
    },
    {
        "id": "e65cb6f12ef4f7d4",
        "type": "function",
        "z": "44e4a614699d3564",
        "name": "Datos Lampara",
        "func": "msg.lampara = msg.payload[0].lamp;\n\nmsg.payload = msg.message;\n//msg.payload.chatId = 6440492345;\n//msg.payload.type = \"message\";\nmsg.payload.content = \"La intensidad de brillo de la lámpara es \" + msg.lampara + \".\\n\";\n\nreturn msg;\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 820,
        "y": 1660,
        "wires": [
            [
                "52ab6e908bdb7cac"
            ]
        ]
    },
    {
        "id": "1e65bf5207a3f940",
        "type": "telegram command",
        "z": "44e4a614699d3564",
        "name": "",
        "command": "/Termostato",
        "description": "",
        "registercommand": false,
        "language": "",
        "scope": "default",
        "bot": "92064d6951473513",
        "strict": false,
        "hasresponse": true,
        "useregex": false,
        "removeregexcommand": false,
        "outputs": 2,
        "x": 130,
        "y": 1720,
        "wires": [
            [
                "ec1d5d8740cc0b91"
            ],
            []
        ]
    },
    {
        "id": "ec1d5d8740cc0b91",
        "type": "function",
        "z": "44e4a614699d3564",
        "name": "ultimo registro",
        "func": "msg.message = msg.payload;\nmsg.limit = 1;\nmsg.sort = { \"date\": -1 };\nmsg.payload = {};\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 320,
        "y": 1720,
        "wires": [
            [
                "9442a707758bfb14"
            ]
        ]
    },
    {
        "id": "50090b96e8cb67c0",
        "type": "function",
        "z": "44e4a614699d3564",
        "name": "Datos Termostato",
        "func": "msg.termostato = msg.payload[0].thermo;\n\nmsg.payload = msg.message;\n//msg.payload.chatId = 6440492345;\n//msg.payload.type = \"message\";\nmsg.payload.content = \"El termostato está a \" + msg.termostato +\".\\n\";\n\nreturn msg;\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 830,
        "y": 1720,
        "wires": [
            [
                "52ab6e908bdb7cac"
            ]
        ]
    },
    {
        "id": "9442a707758bfb14",
        "type": "mongodb in",
        "z": "44e4a614699d3564",
        "mongodb": "ea6ae5ec8aa70504",
        "name": "",
        "collection": "Termostato",
        "operation": "find",
        "x": 570,
        "y": 1720,
        "wires": [
            [
                "50090b96e8cb67c0"
            ]
        ]
    },
    {
        "id": "79ad5e1b40edcb77",
        "type": "telegram command",
        "z": "44e4a614699d3564",
        "name": "",
        "command": "/Temperatura",
        "description": "",
        "registercommand": false,
        "language": "",
        "scope": "default",
        "bot": "92064d6951473513",
        "strict": false,
        "hasresponse": true,
        "useregex": false,
        "removeregexcommand": false,
        "outputs": 2,
        "x": 130,
        "y": 1780,
        "wires": [
            [
                "f29767c2a51cd356"
            ],
            []
        ]
    },
    {
        "id": "f29767c2a51cd356",
        "type": "function",
        "z": "44e4a614699d3564",
        "name": "ultimo registro",
        "func": "msg.message = msg.payload;\nmsg.limit = 1;\nmsg.sort = { \"date\": -1 };\nmsg.payload = {};\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 320,
        "y": 1780,
        "wires": [
            [
                "f4ae8c7f7cf3473c"
            ]
        ]
    },
    {
        "id": "bd01b6c71089d7bf",
        "type": "function",
        "z": "44e4a614699d3564",
        "name": "Datos Temperatura",
        "func": "msg.temp = msg.payload[0].temp;\n\nmsg.payload = msg.message;\n//msg.payload.chatId = 6440492345;\n//msg.payload.type = \"message\";\nmsg.payload.content = \"La temperatura actual es de: \" + msg.termostato +\" ºC.\\n\";\n\nreturn msg;\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 830,
        "y": 1780,
        "wires": [
            [
                "52ab6e908bdb7cac"
            ]
        ]
    },
    {
        "id": "f4ae8c7f7cf3473c",
        "type": "mongodb in",
        "z": "44e4a614699d3564",
        "mongodb": "ea6ae5ec8aa70504",
        "name": "",
        "collection": "Temperatura",
        "operation": "find",
        "x": 570,
        "y": 1780,
        "wires": [
            [
                "bd01b6c71089d7bf"
            ]
        ]
    },
    {
        "id": "42a13736f2ebbc6e",
        "type": "telegram command",
        "z": "44e4a614699d3564",
        "name": "",
        "command": "/Cerradura",
        "description": "",
        "registercommand": false,
        "language": "",
        "scope": "default",
        "bot": "92064d6951473513",
        "strict": false,
        "hasresponse": true,
        "useregex": false,
        "removeregexcommand": false,
        "outputs": 2,
        "x": 120,
        "y": 1840,
        "wires": [
            [
                "b513e2fad0a7d916"
            ],
            []
        ]
    },
    {
        "id": "fdcf68a70fbbd25e",
        "type": "telegram command",
        "z": "44e4a614699d3564",
        "name": "",
        "command": "/Cortina",
        "description": "",
        "registercommand": false,
        "language": "",
        "scope": "default",
        "bot": "92064d6951473513",
        "strict": false,
        "hasresponse": true,
        "useregex": false,
        "removeregexcommand": false,
        "outputs": 2,
        "x": 110,
        "y": 1900,
        "wires": [
            [
                "a5af1bd7de274df6"
            ],
            []
        ]
    },
    {
        "id": "9231ab06a0b9792f",
        "type": "telegram command",
        "z": "44e4a614699d3564",
        "name": "",
        "command": "/Altavoz",
        "description": "",
        "registercommand": false,
        "language": "",
        "scope": "default",
        "bot": "92064d6951473513",
        "strict": false,
        "hasresponse": true,
        "useregex": false,
        "removeregexcommand": false,
        "outputs": 2,
        "x": 110,
        "y": 1960,
        "wires": [
            [
                "5c067fc2fa944618"
            ],
            []
        ]
    },
    {
        "id": "b513e2fad0a7d916",
        "type": "function",
        "z": "44e4a614699d3564",
        "name": "ultimo registro",
        "func": "msg.message = msg.payload;\nmsg.limit = 1;\nmsg.sort = { \"date\": -1 };\nmsg.payload = {};\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 320,
        "y": 1840,
        "wires": [
            [
                "ca728b7bf56445d8"
            ]
        ]
    },
    {
        "id": "a5af1bd7de274df6",
        "type": "function",
        "z": "44e4a614699d3564",
        "name": "ultimo registro",
        "func": "msg.message = msg.payload;\nmsg.limit = 1;\nmsg.sort = { \"date\": -1 };\nmsg.payload = {};\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 320,
        "y": 1900,
        "wires": [
            [
                "dcae2bf10334f34b"
            ]
        ]
    },
    {
        "id": "5c067fc2fa944618",
        "type": "function",
        "z": "44e4a614699d3564",
        "name": "ultimo registro",
        "func": "msg.message = msg.payload;\nmsg.limit = 1;\nmsg.sort = { \"date\": -1 };\nmsg.payload = {};\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 320,
        "y": 1960,
        "wires": [
            [
                "8b1851ad39d8892b"
            ]
        ]
    },
    {
        "id": "ca728b7bf56445d8",
        "type": "mongodb in",
        "z": "44e4a614699d3564",
        "mongodb": "ea6ae5ec8aa70504",
        "name": "",
        "collection": "Lock",
        "operation": "find",
        "x": 550,
        "y": 1840,
        "wires": [
            [
                "cc8be759efe742a6"
            ]
        ]
    },
    {
        "id": "dcae2bf10334f34b",
        "type": "mongodb in",
        "z": "44e4a614699d3564",
        "mongodb": "ea6ae5ec8aa70504",
        "name": "",
        "collection": "Cortina",
        "operation": "find",
        "x": 550,
        "y": 1900,
        "wires": [
            [
                "3f6dcfd19a4f3770"
            ]
        ]
    },
    {
        "id": "8ae721edad771d86",
        "type": "mongodb in",
        "z": "44e4a614699d3564",
        "mongodb": "ea6ae5ec8aa70504",
        "name": "",
        "collection": "Power",
        "operation": "find",
        "x": 1050,
        "y": 1960,
        "wires": [
            [
                "59ca297b5754163f"
            ]
        ]
    },
    {
        "id": "f57dfd0b8d54df6a",
        "type": "function",
        "z": "44e4a614699d3564",
        "name": "Datos Altavoz",
        "func": "msg.volumen = msg.payload[0].volume;\nmsg.limit = 1;\nmsg.sort = { \"date\": -1 };\nmsg.payload = {};\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 820,
        "y": 1960,
        "wires": [
            [
                "8ae721edad771d86"
            ]
        ]
    },
    {
        "id": "59ca297b5754163f",
        "type": "function",
        "z": "44e4a614699d3564",
        "name": "Datos Alexa",
        "func": "var estado;\n\nif (msg.payload[0].power == \"ON\") {\n    estado = \"encendido\";\n} else {\n    estado = \"apagado\";\n}\n\nmsg.payload = msg.message;\n//msg.payload.chatId = 6440492345;\n//msg.payload.type = \"message\";\nmsg.payload.content = \"El altavoz está \"+ estado + \", con un volumen de \" + msg.volumen + \" sobre 100.\\n\";\n\nreturn msg;\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1310,
        "y": 1960,
        "wires": [
            [
                "52ab6e908bdb7cac"
            ]
        ]
    },
    {
        "id": "8b1851ad39d8892b",
        "type": "mongodb in",
        "z": "44e4a614699d3564",
        "mongodb": "ea6ae5ec8aa70504",
        "name": "",
        "collection": "Volume",
        "operation": "find",
        "x": 560,
        "y": 1960,
        "wires": [
            [
                "f57dfd0b8d54df6a"
            ]
        ]
    },
    {
        "id": "cc8be759efe742a6",
        "type": "function",
        "z": "44e4a614699d3564",
        "name": "Datos Cerradura",
        "func": "var lock = msg.payload[0].Lock;\n\nif (lock == \"UNLOCKED\") {\n    msg.cerradura = \"abierta\";\n} else if (lock == \"LOCKED\") {\n    msg.cerradura = \"cerrada\";\n}\nmsg.payload = msg.message;\n//msg.payload.chatId = 6440492345;\n//msg.payload.type = \"message\";\nmsg.payload.content = \"La puerta de casa está \" + msg.cerradura +\".\\n\";\n\nreturn msg;\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 820,
        "y": 1840,
        "wires": [
            [
                "52ab6e908bdb7cac"
            ]
        ]
    },
    {
        "id": "3f6dcfd19a4f3770",
        "type": "function",
        "z": "44e4a614699d3564",
        "name": "Datos Cortina",
        "func": "var cortina = msg.payload[0].Cortina;\n\nif (cortina == 0) {\n    msg.cortina = \"totalmente bajada\";\n} else if (cortina == 20) {\n    msg.cortina = \"al 20% subida\";\n} else if (cortina == 40) {\n    msg.cortina = \"al 40% subida\";\n} else if (cortina == 60) {\n    msg.cortina = \"al 60% subida\";\n} else if (cortina == 80) {\n    msg.cortina = \"al 80% subida\";\n} else if (cortina == 100) {\n    msg.cortina = \"totalmente subida\";\n}\n\nmsg.payload = msg.message;\n//msg.payload.chatId = 6440492345;\n//msg.payload.type = \"message\";\nmsg.payload.content = \"La cortina está \" + msg.cortina +\".\\n\";\n\nreturn msg;\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 820,
        "y": 1900,
        "wires": [
            [
                "52ab6e908bdb7cac"
            ]
        ]
    },
    {
        "id": "f1deeb002159443d",
        "type": "ui_text",
        "z": "44e4a614699d3564",
        "group": "61386354edc2fa8c",
        "order": 1,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Estado Cerradura",
        "format": "{{msg.payload.Lock}}",
        "layout": "col-center",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 1810,
        "y": 580,
        "wires": []
    },
    {
        "id": "d7f8ce587a24a8f2",
        "type": "ui_slider",
        "z": "44e4a614699d3564",
        "name": "",
        "label": "Apertura de la cortina",
        "tooltip": "",
        "group": "31d510dc31af2373",
        "order": 2,
        "width": 0,
        "height": 0,
        "passthru": true,
        "outs": "all",
        "topic": "topic",
        "topicType": "msg",
        "min": 0,
        "max": "100",
        "step": "20",
        "className": "",
        "x": 720,
        "y": 740,
        "wires": [
            [
                "edc29a94235cf577"
            ]
        ]
    },
    {
        "id": "a02959a476573748",
        "type": "ui_gauge",
        "z": "44e4a614699d3564",
        "name": "",
        "group": "31d510dc31af2373",
        "order": 3,
        "width": 0,
        "height": 0,
        "gtype": "donut",
        "title": "Cortina",
        "label": "%",
        "format": "{{msg.payload.Cortina}}",
        "min": 0,
        "max": "100",
        "colors": [
            "#0080ff",
            "#44a2ff",
            "#95caff"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 1780,
        "y": 760,
        "wires": []
    },
    {
        "id": "821d7a1c65ce7f17",
        "type": "comment",
        "z": "44e4a614699d3564",
        "name": "API REST",
        "info": "",
        "x": 120,
        "y": 60,
        "wires": []
    },
    {
        "id": "02e07d148e6c569f",
        "type": "comment",
        "z": "44e4a614699d3564",
        "name": "Alexa y MQTT",
        "info": "",
        "x": 130,
        "y": 320,
        "wires": []
    },
    {
        "id": "17af539b6ced1c9f",
        "type": "comment",
        "z": "44e4a614699d3564",
        "name": "Telegram",
        "info": "",
        "x": 120,
        "y": 1480,
        "wires": []
    },
    {
        "id": "b452cd9032236d16",
        "type": "mqtt-broker",
        "name": "",
        "broker": "iot.ac.uma.es",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "6ddc0cfa8473b107",
        "type": "alexa-smart-home-v3-conf",
        "username": "mariaherresa",
        "mqttserver": "mq-red.cb-net.co.uk",
        "webapiurl": "red.cb-net.co.uk",
        "contextName": "memory"
    },
    {
        "id": "1a89c49ea04c4e3f",
        "type": "ui_group",
        "name": "Termostato",
        "tab": "2faefa93a792da17",
        "order": 3,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "f25245920e89665e",
        "type": "ui_group",
        "name": "Lámpara",
        "tab": "2faefa93a792da17",
        "order": 4,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "c9068e829ef24a7d",
        "type": "ui_group",
        "name": "Temperatura",
        "tab": "2faefa93a792da17",
        "order": 2,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "28e6883a4f4859fc",
        "type": "ui_group",
        "name": "Altavoz",
        "tab": "2faefa93a792da17",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "92064d6951473513",
        "type": "telegram bot",
        "botname": "infind_aqaracube_bot",
        "usernames": "",
        "chatids": "",
        "baseapiurl": "",
        "updatemode": "polling",
        "pollinterval": "300",
        "usesocks": false,
        "sockshost": "",
        "socksprotocol": "socks5",
        "socksport": "6667",
        "socksusername": "anonymous",
        "sockspassword": "",
        "bothost": "",
        "botpath": "",
        "localbotport": "8443",
        "publicbotport": "8443",
        "privatekey": "",
        "certificate": "",
        "useselfsignedcertificate": false,
        "sslterminated": false,
        "verboselogging": false
    },
    {
        "id": "ea6ae5ec8aa70504",
        "type": "mongodb",
        "hostname": "iot.ac.uma.es",
        "topology": "direct",
        "connectOptions": "",
        "port": "27017",
        "db": "II7",
        "name": ""
    },
    {
        "id": "733738945a4a76bc",
        "type": "mqtt-broker",
        "name": "",
        "broker": "iot.ac.uma.es",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "31d510dc31af2373",
        "type": "ui_group",
        "name": "Cortina",
        "tab": "2faefa93a792da17",
        "order": 5,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "61386354edc2fa8c",
        "type": "ui_group",
        "name": "Cerradura",
        "tab": "2faefa93a792da17",
        "order": 6,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "2faefa93a792da17",
        "type": "ui_tab",
        "name": "Proyecto Grupo 7",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    }
]