NodeRED/SpotifyAlexa_v2.json
[
    {
        "id": "3da87ed92b00a2c2",
        "type": "tab",
        "label": "Alexa",
        "disabled": false,
        "info": ""
    },
    {
        "id": "da68b6dfd72b55cd",
        "type": "ui_gauge",
        "z": "3da87ed92b00a2c2",
        "name": "",
        "group": "f2b40320.566b8",
        "order": 3,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Intensidad LED",
        "label": "%",
        "format": "{{value}}%",
        "min": 0,
        "max": "100",
        "colors": [
            "#c1e8fb",
            "#55a2dd",
            "#095ece"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 760,
        "y": 360,
        "wires": []
    },
    {
        "id": "bab57e75f9451526",
        "type": "function",
        "z": "3da87ed92b00a2c2",
        "name": "actualiza temperatura en Alexa",
        "func": "return { \"payload\": { \"state\": { \"temperature\": msg.payload } }, \"temperatureScale\": \"CELSIUS\", \"acknowledge\" : true };\n\n// Hará falta: \"command\": \"AdjustTargetTemperature\"??\n\n//Opción 2\n//return { \"payload\": msg.payload, \"temperatureScale\": \"CELSIUS\", \"acknowledge\": true };",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 810,
        "y": 240,
        "wires": [
            [
                "7071dcf2f4a8cc17"
            ]
        ]
    },
    {
        "id": "02961f86222e3c16",
        "type": "mqtt in",
        "z": "3da87ed92b00a2c2",
        "name": "",
        "topic": "II7/ESP833252/Alexa",
        "qos": "2",
        "datatype": "auto",
        "broker": "b452cd9032236d16",
        "nl": false,
        "rap": false,
        "inputs": 0,
        "x": 260,
        "y": 240,
        "wires": [
            [
                "520cd8e48c421649",
                "b89a470126d00a10",
                "ebdece5d051dcc9f",
                "c99ee5620c2c51bc"
            ]
        ]
    },
    {
        "id": "520cd8e48c421649",
        "type": "json",
        "z": "3da87ed92b00a2c2",
        "name": "",
        "property": "payload",
        "action": "",
        "pretty": false,
        "x": 550,
        "y": 200,
        "wires": [
            [
                "a77fec9fee7c0f3e"
            ]
        ]
    },
    {
        "id": "b89a470126d00a10",
        "type": "function",
        "z": "3da87ed92b00a2c2",
        "name": "extrae temp",
        "func": "msg.payload=msg.payload.Temperatura;\nmsg.topic=\"Temp\";\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 570,
        "y": 240,
        "wires": [
            [
                "bab57e75f9451526"
            ]
        ]
    },
    {
        "id": "7071dcf2f4a8cc17",
        "type": "alexa-smart-home-v3-state",
        "z": "3da87ed92b00a2c2",
        "conf": "91cb0623b6ac60ea",
        "device": "57964",
        "name": "Sensor de Temperatura",
        "x": 1110,
        "y": 240,
        "wires": []
    },
    {
        "id": "a77fec9fee7c0f3e",
        "type": "debug",
        "z": "3da87ed92b00a2c2",
        "name": "Alexa info",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 740,
        "y": 200,
        "wires": []
    },
    {
        "id": "e62321acb5f45a93",
        "type": "mqtt in",
        "z": "3da87ed92b00a2c2",
        "name": "",
        "topic": "II7/ESP833252/Spotify",
        "qos": "2",
        "datatype": "auto",
        "broker": "b452cd9032236d16",
        "nl": false,
        "rap": false,
        "inputs": 0,
        "x": 260,
        "y": 160,
        "wires": [
            [
                "7933ef10bb35222b",
                "956772865218c6de"
            ]
        ]
    },
    {
        "id": "f8774721fa7ad9ba",
        "type": "debug",
        "z": "3da87ed92b00a2c2",
        "name": "Spotify Info",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 750,
        "y": 160,
        "wires": []
    },
    {
        "id": "956772865218c6de",
        "type": "function",
        "z": "3da87ed92b00a2c2",
        "name": "extrae Spoti",
        "func": "if (msg.payload.Pause==true){\n    msg.payload= \"Pause\";\n} else if (msg.payload.Play == true) {\n    msg.payload = \"Play\";\n} else if (msg.payload.Skip == true) {\n    msg.payload = \"Previous\";\n} else if (msg.payload.Next == true) {\n    msg.payload = \"Next\";\n} \nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 570,
        "y": 100,
        "wires": [
            [
                "b8ee8d0270d8add5"
            ]
        ]
    },
    {
        "id": "7933ef10bb35222b",
        "type": "json",
        "z": "3da87ed92b00a2c2",
        "name": "",
        "property": "payload",
        "action": "obj",
        "pretty": false,
        "x": 550,
        "y": 160,
        "wires": [
            [
                "f8774721fa7ad9ba"
            ]
        ]
    },
    {
        "id": "3aaba1bb9b38a539",
        "type": "alexa-smart-home-v3-state",
        "z": "3da87ed92b00a2c2",
        "conf": "91cb0623b6ac60ea",
        "device": "58031",
        "name": "Altavoz",
        "x": 1060,
        "y": 100,
        "wires": []
    },
    {
        "id": "1bcf792f88dd4de6",
        "type": "alexa-smart-home-v3",
        "z": "3da87ed92b00a2c2",
        "conf": "91cb0623b6ac60ea",
        "device": "58031",
        "acknowledge": false,
        "name": "Altavoz",
        "topic": "",
        "x": 210,
        "y": 100,
        "wires": [
            [
                "956772865218c6de",
                "b8d0e5853e604854"
            ]
        ]
    },
    {
        "id": "b8d0e5853e604854",
        "type": "debug",
        "z": "3da87ed92b00a2c2",
        "name": "Altavoz actualizado",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "command",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 770,
        "y": 60,
        "wires": []
    },
    {
        "id": "f24a48fae242836e",
        "type": "switch",
        "z": "3da87ed92b00a2c2",
        "name": "switch msg.command",
        "property": "command",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "TurnOn",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "TurnOff",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "Pause",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "Play",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "Previous",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "Next",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 6,
        "x": 280,
        "y": 620,
        "wires": [
            [],
            [],
            [],
            [],
            [],
            []
        ]
    },
    {
        "id": "1db68ceeaaf011be",
        "type": "alexa-smart-home-v3",
        "z": "3da87ed92b00a2c2",
        "conf": "91cb0623b6ac60ea",
        "device": "57964",
        "acknowledge": false,
        "name": "Sensor de Temperatura",
        "topic": "",
        "x": 260,
        "y": 300,
        "wires": [
            [
                "350d395171758ff8",
                "b89a470126d00a10"
            ]
        ]
    },
    {
        "id": "350d395171758ff8",
        "type": "debug",
        "z": "3da87ed92b00a2c2",
        "name": "Temperatura actualizada",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 790,
        "y": 300,
        "wires": []
    },
    {
        "id": "ebdece5d051dcc9f",
        "type": "function",
        "z": "3da87ed92b00a2c2",
        "name": "extrae brillo",
        "func": "msg.payload=msg.payload.Lampara;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 570,
        "y": 440,
        "wires": [
            [
                "4c386b5b3f12914e"
            ]
        ]
    },
    {
        "id": "4c386b5b3f12914e",
        "type": "function",
        "z": "3da87ed92b00a2c2",
        "name": "actualiza brillo en Alexa",
        "func": "if (msg.command == \"SetBrightness\") //level \n    return { \"payload\": { \"lampara\": msg.payload }, \"acknowledge\": true};\nelse // ON-OFF\n    if (msg.payload == \"ON\")\n        return { \"payload\": { \"lampara\": 100 }, \"acknowledge\": true};\n    else\n        return { \"payload\": { \"lampara\": 0 }, \"acknowledge\": true};",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 790,
        "y": 440,
        "wires": [
            [
                "91228561f7343f2c"
            ]
        ]
    },
    {
        "id": "b8ee8d0270d8add5",
        "type": "function",
        "z": "3da87ed92b00a2c2",
        "name": "actualiza altavoz en Alexa",
        "func": "// Opción 1\nreturn { \"payload\": { \"state\": { \"command\": msg.payload } }, \"acknowledge\" : true };\n//Opción 2\n//return { \"payload\": { \"command\": msg.payload }, \"acknowledge\": true };\n//Opción 3\n//return { \"command\": msg.payload, \"acknowledge\": true };",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 790,
        "y": 100,
        "wires": [
            [
                "3aaba1bb9b38a539"
            ]
        ]
    },
    {
        "id": "05b64db1ba8a01c7",
        "type": "function",
        "z": "3da87ed92b00a2c2",
        "name": "actualiza termostato en Alexa",
        "func": "return { \"targetTemperature\": { \"value\": msg.payload }, \"temperatureMode\": { \"value\": \"AUTO\" }, \"acknowledge\" : true };\n\n//Opción 2\n//return { \"payload\": msg.payload, \"temperatureScale\": \"CELSIUS\", \"acknowledge\": true };",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 800,
        "y": 540,
        "wires": [
            [
                "d6f84271fa331d61"
            ]
        ]
    },
    {
        "id": "41cb873514f9eaf4",
        "type": "alexa-smart-home-v3",
        "z": "3da87ed92b00a2c2",
        "conf": "91cb0623b6ac60ea",
        "device": "57965",
        "acknowledge": true,
        "name": "Termostato",
        "topic": "",
        "x": 220,
        "y": 500,
        "wires": [
            [
                "c99ee5620c2c51bc",
                "d176f2e030f62fb0"
            ]
        ]
    },
    {
        "id": "c99ee5620c2c51bc",
        "type": "function",
        "z": "3da87ed92b00a2c2",
        "name": "extrae termo",
        "func": "msg.payload = msg.payload.Termostato;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 570,
        "y": 540,
        "wires": [
            [
                "05b64db1ba8a01c7"
            ]
        ]
    },
    {
        "id": "d176f2e030f62fb0",
        "type": "debug",
        "z": "3da87ed92b00a2c2",
        "name": "termostato actualizado",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 780,
        "y": 500,
        "wires": []
    },
    {
        "id": "d6f84271fa331d61",
        "type": "alexa-smart-home-v3-state",
        "z": "3da87ed92b00a2c2",
        "conf": "91cb0623b6ac60ea",
        "device": "57965",
        "name": "Termostato",
        "x": 1070,
        "y": 540,
        "wires": []
    },
    {
        "id": "c84f560e966b5701",
        "type": "alexa-smart-home-v3",
        "z": "3da87ed92b00a2c2",
        "conf": "91cb0623b6ac60ea",
        "device": "57963",
        "acknowledge": false,
        "name": "Lámpara",
        "topic": "",
        "x": 220,
        "y": 400,
        "wires": [
            [
                "ebdece5d051dcc9f",
                "65e19763b5cbda89",
                "da68b6dfd72b55cd"
            ]
        ]
    },
    {
        "id": "91228561f7343f2c",
        "type": "alexa-smart-home-v3-state",
        "z": "3da87ed92b00a2c2",
        "conf": "91cb0623b6ac60ea",
        "device": "57963",
        "name": "Lámpara",
        "x": 1060,
        "y": 440,
        "wires": []
    },
    {
        "id": "65e19763b5cbda89",
        "type": "debug",
        "z": "3da87ed92b00a2c2",
        "name": "lampara actualizada",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 780,
        "y": 400,
        "wires": []
    },
    {
        "id": "c2bd455bc3859b2a",
        "type": "ui_slider",
        "z": "3da87ed92b00a2c2",
        "name": "",
        "label": "Intensidad (%)",
        "tooltip": "",
        "group": "f2b40320.566b8",
        "order": 0,
        "width": 0,
        "height": 0,
        "passthru": true,
        "outs": "all",
        "topic": "",
        "min": 0,
        "max": "100",
        "step": 1,
        "x": 260,
        "y": 700,
        "wires": [
            [
                "82eb992f415caec7"
            ]
        ]
    },
    {
        "id": "82eb992f415caec7",
        "type": "function",
        "z": "3da87ed92b00a2c2",
        "name": "monta json",
        "func": "\nreturn {\"payload\":{\"lampara\":msg.payload}};",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 490,
        "y": 700,
        "wires": [
            []
        ]
    },
    {
        "id": "f2b40320.566b8",
        "type": "ui_group",
        "name": "Control LED",
        "tab": "277d1b96f86830e8",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "b452cd9032236d16",
        "type": "mqtt-broker",
        "name": "",
        "broker": "iot.ac.uma.es",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "91cb0623b6ac60ea",
        "type": "alexa-smart-home-v3-conf",
        "username": "mariaherresa",
        "mqttserver": "mq-red.cb-net.co.uk",
        "webapiurl": "red.cb-net.co.uk",
        "contextName": "memory"
    },
    {
        "id": "277d1b96f86830e8",
        "type": "ui_tab",
        "name": "Home",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    }
]
